{% unless customer %}
  <div class="max-width seen-in">
    <h3 class="h2 emphasis">stocked by the World's Leading Retailers</h3>
    <div class="icons-grid">
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/selfridges.png?v=1765807122" alt="Selfridges & Co" width="150" height="26">
        </div>
        <p class="h5">Stocked in Selfridges & Co</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/next.webp?v=1765807122" alt="Next" width="84" height="20" style="height: 20px">
        </div>
        <p class="h5">Stocked in Next</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/jlp.webp?v=1765807122" alt="John Lewis" width="150" height="28">
        </div>
        <p class="h5">Stocked in John Lewis</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/debenhams.webp?v=1765807122" alt="Debenhams" width="150" height="24">
        </div>
        <p class="h5">Stocked in Debenhams</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/frasers-group--logo.png?v=1768392322" alt="Frasers Group Stores" width="180" height="24">
        </div>
        <p class="h5">Stocked in Frasers Group Stores</p>
      </div>
    </div>
  </div>

  <style>
    .seen-in {
      margin: 1rem auto 2rem;
      padding: 2rem 0 1px 0;
    }

    .seen-in .h5 {
      color: transparent;
    }
    .section--cart_content .seen-in {
      background: var(--c-off-white);
    }

    .icons-grid--card img {
      object-fit: contain;
      filter: grayscale(1);
      max-width: 160px;
      opacity: 0.5;
    }

    .icons-grid {
      justify-content: center;
      margin-bottom: 2rem;
    }

    .icons-grid .splide__track {
      margin: 2rem 0;
    }

    .icons-grid .splide.no-carousel .splide__list {
      align-items: center;

      & p {
        height: 0;
        width: 0;
      }
    }

    .img-overlay {
      display: grid;
      place-content: center;
    }
  </style>

  <script type="module">
    import { SplideUtil } from '{{ "SplideUtil.js" | asset_url }}';
    document.addEventListener('DOMContentLoaded', () => {
      SplideUtil.splideInit('.icons-grid', {
        type: 'loop',
        pagination: true,
        arrows: false,
        fixedWidth: '150px',
        autoplay: true,
        interval: 4000,
        speed: 1000,
        pauseOnHover: true,
        gap: '4rem',
        focus: 'center',
      });
    });
  </script>
{% endunless %}
