{% unless customer %}
  <div class="seen-in">
    <h3 class="h3 emphasis">As stocked by the UK's Leading Retailers</h3>
    <div class="icons-grid">
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/next.webp?v=1765807122" alt="Next" width="120" style="height: 20px">
        </div>
        <p class="h5">Stocked in Next</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/selfridges.png?v=1765807122" alt="Selfridges & Co" width="120">
        </div>
        <p class="h5">Stocked in Selfridges & Co</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/debenhams.webp?v=1765807122" alt="Debenhams" width="120">
        </div>
        <p class="h5">Stocked in Debenhams</p>
      </div>
      <div class="icons-grid--card splide__slide">
        <div class="img-overlay" style="width:{{ section.settings.icon_size }};margin: 0 auto;">
          <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/jlp.webp?v=1765807122" alt="John Lewis" width="120">
        </div>
        <p class="h5">Stocked in John Lewis</p>
      </div>
    </div>
  </div>

  <style>
    .seen-in {
      margin: 1rem 0 2rem;
      background: var(--c-off-white);
      padding: 2rem 0 1px 0;
    }
    .icons-grid {
      justify-content: center;
      margin-bottom: 2rem;
    }

    .icons-grid--card img {
      object-fit: contain;
      filter: grayscale(1);
      max-width: 160px;
    }

    .icons-grid .splide__track {
      margin: 2rem 0;
    }

    .icons-grid .splide.no-carousel .splide__list {
      align-items: center;

      & p {
        height: 0;
        width: 0;
      }
    }

    .img-overlay {
      display: grid;
      place-content: center;
    }
  </style>

  <script type="module">
    import { SplideUtil } from '{{ "SplideUtil.js" | asset_url }}';
    document.addEventListener('DOMContentLoaded', () => {
      SplideUtil.splideInit('.icons-grid', {
        type: 'loop',
        pagination: true,
        arrows: false,
        fixedWidth: '150px',
        autoplay: true,
        interval: 2000,
        speed: 1000,
        pauseOnHover: true,
        gap: '4rem',
        focus: 'center',
      });
    });
  </script>
{% endunless %}
