<link rel="stylesheet" href="{{ 'line-items.min.css' | asset_url }}">
{% if cart.item_count == 0 %}
  <div class="cart_items-list fade-in">
    <p style="margin-bottom: 1rem;">Your Shopping Bag is empty.</p>
    {% render 'dead-end' %}
    <br>
    {% render 'bnpl-microcopy' %}

  </div>
{% else %}
  {% assign cart_items = '' %}
  {% for item in cart.items %}
    {% assign cart_items = cart_items | append: item.product_id | append: ',' %}
  {% endfor %}
  <ul class="cart_items-list">
    {% for item in cart.items %}
      <li class="cart_items-item">
        <line-item data-key="{{ item.key }}" data-product-id="{{item.product.id}}" data-index="{{ forloop.index0 }}">
          <div class="cart_item-image">{{ item.product.featured_image | image_url: width: 400 | image_tag }}</div>
          <header class="cart_item-header">
            <div class="cart_item-info">
              <h3>{% render 'product-title' with item.product as product %}</h3>
              {%- unless item.product.has_only_default_variant or all_products[item.product.handle].variants.size == 1 -%}
                <span class="cart_item-size">{{ item.variant.title }}</span>
              {% endunless %}
              {%- for property in item.properties -%}
                {% if property.first == 'Items' %}
                  <span class="cart_item--property bundle-items">
                    {{ property.last | replace: ', ', '<br>' | replace: 'Gym King', '' -}}
                  </span>
                  {% break %}
                {% endif %}
              {%- endfor -%}
              {%- if item.line_level_discount_allocations != blank -%}
                {%- for discount_allocation in item.line_level_discount_allocations -%}
                  <span class="cart_item--discount">
                    {%- render 'icon', icon: 'tag' %}
                    {{ discount_allocation.discount_application.title }}: -{{ discount_allocation.amount | money -}}
                  </span>
                {%- endfor -%}
              {%- endif -%}
              {% if item.product.tags contains 'easy-bundle' %}
                <div class="Price--wrapper">{{ item.final_price | money_without_trailing_zeros }}</div>
              {% else %}
                {% render 'product-price' with item.variant as product %}
              {% endif %}
            </div>
          </header>
          <div class="cart_item-quantity">
            <div class="quantity-selector" data-line-item="{{ item.key }}">
              <button
                class="button qty-button button-secondary quantity-minus"
                data-new-qty="{{ item.quantity | minus: 1 }}"
              >
                {% render 'icon', icon: 'minus' %}
              </button>
              <input
                type="number"
                name="quantity"
                class="qty-input input-{{ item.product_id }}"
                min="0"
                id="{{ item.key }}"
                value="{{ item.quantity }}"
              >
              <button
                class="button button-secondary qty-button quantity-plus"
                {% if item.quantity == item.variant.inventory_quantity %}
                  disabled
                {% endif %}
                data-new-qty="{{ item.quantity | plus: 1 }}"
              >
                {% render 'icon', icon: 'plus' %}
              </button>
              <button class="qty-button quantity-zero">
                {% render 'icon', icon: 'trash' %}
              </button>
            </div>
          </div>

          <div class="cart_item-total">{{ item.final_line_price | money_without_trailing_zeros }}</div>
          {% if item.product.metafields['shopify--discovery--product_recommendation'].complementary_products.type %}
            <div class="cart_items-ctl">
              <span class="cart_items-ctl-title">Pairs perfectly with:</span>
              {% for product in item.product.metafields['shopify--discovery--product_recommendation'].complementary_products.value limit: 2 %}
                {% unless cart_items contains product.id %}
                  <a
                    href="{{ product.url }}"
                    class="button button-secondary cart_items-ctl-button"
                    data-product-id="{{ product.id }}"
                    data-target="mqatb-{{product.id}}"
                    data-product-title="{{ product.title }}"
                    data-images="{% for image in product.images %}{%unless forloop.index == 2 %}{{ image | image_url: width: 700 }}{% unless forloop.last %},{% endunless %}{% endunless %}{% endfor %}"
                  >
                    {% render 'icon', icon: 'plus' -%}
                     {%- assign product_title = product.title | replace: '–', '-' -%}
                    {{- product_title | replace: "Gym King", "" | split: ' - ' | first}} - {{ product.price | money_without_trailing_zeros -}}
                    <div class="visually-hidden product_card-info">
                      {% render 'product-title' with product as product %}
                      {% render 'product-price' with product as product %}
                    </div>
                    <div class="datb visually-hidden">
                      <div class="qatb-btns">
                        {% for variant in product.variants %}
                          <a
                            href="{{ routes.cart_add_url }}?id={{ variant.id }}&quantity=1"
                            id="qatb-btn--{{ variant.id }}"
                            class="{%if variant.inventory_quantity != 0 and variant.price > 0  %}qatb-btn{% else %}qatb-btn--oos{% endif %}"
                            data-v-id="{{ variant.id }}"
                          >
                            {{ variant.title | replace: 'One Size', 'Add to Bag' | replace: '.00', '' }}
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                  </a>
                {% endunless %}
              {% endfor %}
            </div>
          {% endif %}
          {% comment %} YOTPO POINTS INFO {% endcomment %}
           {% comment %} <div class="yotpo-widget-instance" data-yotpo-instance-id="1268248" data-yotpo-product-id="{{item.product.id}}" data-yotpo-variant-id="{{ item.product.selected_or_first_available_variant.id }}" data-yotpo-product-variants="{{ item.product.variants | json | url_encode }}" data-yotpo-product-collections="{{item.product.collections | json | url_encode}}" data-yotpo-product-tags="{{ item.product.tags | json | url_encode }}" data-yotpo-product-type="{{ item.product.type | json | url_encode }}" data-yotpo-quantity-selector="input.input-{{ item.product_id }}"></div> {% endcomment %}
        </line-item>
      </li>
    {% endfor %}
  </ul>
{% endif %}
