<link rel="stylesheet" href="{{ 'line-items.min.css' | asset_url }}">
{% if cart.item_count == 0 %}
  <div class="cart_items-list fade-in">Your Shopping Bag is empty.</div>
{% else %}
  <ul class="cart_items-list">
    {% for item in cart.items %}
      <li class="cart_items-item">
        <line-item data-key="{{ item.key }}" data-product-id="{{item.product.id}}" data-index="{{ forloop.index0 }}">
          <div class="cart_item-image">{{ item.product.featured_image | image_url: width: 400 | image_tag }}</div>
          <header class="cart_item-header">
            <div class="cart_item-info">
              <h3>{% render 'product-title' with item.product as product %}</h3>
              <span class="cart_item-size">{{ item.variant.title }}</span>
              {% render 'product-price' with item.variant as product %}
            </div>
          </header>
          <div class="cart_item-quantity">
            <div class="quantity-selector" data-line-item="{{ item.key }}">
              <button
                class="button qty-button button-secondary quantity-minus"
                data-new-qty="{{ item.quantity | minus: 1 }}"
              >
                {% render 'icon', icon: 'minus' %}
              </button>
              <input
                type="number"
                name="quantity"
                class="qty-input"
                min="0"
                id="{{ item.key }}"
                value="{{ item.quantity }}"
              >
              <button
                class="button button-secondary qty-button quantity-plus"
                data-new-qty="{{ item.quantity | plus: 1 }}"
              >
                {% render 'icon', icon: 'plus' %}
              </button>
              <button class="qty-button quantity-zero">
                {% render 'icon', icon: 'trash' %}
              </button>
            </div>
          </div>
          <div class="cart_item-total">{{ item.final_line_price | money_without_trailing_zeros }}</div>
        </line-item>
      </li>
    {% endfor %}
  </ul>
{% endif %}