<link rel="stylesheet" href="{{ 'line-items.min.css' | asset_url }}">
{% if cart.item_count == 0 %}
  <div class="cart_items-list fade-in">
    <p>Your Shopping Bag is empty.</p>
    {% render 'dead-end' %}
  </div>
{% else %}
  {% assign cart_items = '' %}
  {% for item in cart.items %}
    {% assign cart_items = cart_items | append: item.product_id | append: ',' %}
  {% endfor %}
  <ul class="cart_items-list">
    {% for item in cart.items %}
      <li class="cart_items-item">
        <line-item data-key="{{ item.key }}" data-product-id="{{item.product.id}}" data-index="{{ forloop.index0 }}">
          <div class="cart_item-image">{{ item.product.featured_image | image_url: width: 400 | image_tag }}</div>
          <header class="cart_item-header">
            <div class="cart_item-info">
              <h3>{% render 'product-title' with item.product as product %}</h3>
              {%- unless item.product.has_only_default_variant or all_products[item.product.handle].variants.size == 1 -%}
                <span class="cart_item-size">{{ item.variant.title }}</span>
              {% endunless %}
              {%- for property in item.properties -%}
                {% if property.first == 'Items' %}
                  <span class="cart_item--property bundle-items">
                    {{ property.last | replace: ', ', '<br>' | replace: 'Gym King', '' -}}
                  </span>
                  {% break %}
                {% endif %}
              {%- endfor -%}
              {%- if item.line_level_discount_allocations != blank -%}
                {%- for discount_allocation in item.line_level_discount_allocations -%}
                  <span class="cart_item--discount">
                    {%- render 'icon', icon: 'tag' %}
                    {{ discount_allocation.discount_application.title }}: -{{ discount_allocation.amount | money -}}
                  </span>
                {%- endfor -%}
              {%- endif -%}
              {% if item.product.tags contains 'easy-bundle' %}
                <div class="Price--wrapper">{{ item.final_price | money_without_trailing_zeros }}</div>
              {% else %}
                {% render 'product-price' with item.variant as product %}
              {% endif %}
            </div>
          </header>
          <div class="cart_item-quantity">
            <div class="quantity-selector" data-line-item="{{ item.key }}">
              <button
                class="button qty-button button-secondary quantity-minus"
                data-new-qty="{{ item.quantity | minus: 1 }}"
              >
                {% render 'icon', icon: 'minus' %}
              </button>
              <input
                type="number"
                name="quantity"
                class="qty-input"
                min="0"
                id="{{ item.key }}"
                value="{{ item.quantity }}"
              >
              <button
                class="button button-secondary qty-button quantity-plus"
                data-new-qty="{{ item.quantity | plus: 1 }}"
              >
                {% render 'icon', icon: 'plus' %}
              </button>
              <button class="qty-button quantity-zero">
                {% render 'icon', icon: 'trash' %}
              </button>
            </div>
          </div>
          <div class="cart_item-total">{{ item.final_line_price | money_without_trailing_zeros }}</div>
        </line-item>
      </li>
    {% endfor %}
  </ul>
{% endif %}
