{% if localization.available_countries.size > 1 %}
  <localization-form>
    {% form 'localization' %}
      <div class="disclosure">
        <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
          <img
            class="country-icon"
            src="https://flagcdn.com/h20/{{ localization.country.iso_code | downcase }}.png"
            srcset="
              https://flagcdn.com/h40/{{ localization.country.iso_code | downcase }}.png 2x,
              https://flagcdn.com/h60/{{ localization.country.iso_code | downcase }}.png 3x
            "
            height="20"
            width="28"
            alt="{{ localization.country.name }}"
            fetchpriority="low"
          >
          {{ localization.country.currency.iso_code }}

          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
          </svg>
        </button>

        <ul id="" role="list" class="CountryList disclosure__list" hidden>
          {% for country in localization.available_countries %}
            {% if country.iso_code == localization.country.iso_code %}
              {% assign list_position = -8 %}
            {% else %}
              {% case country.iso_code %}
                {% when 'GB' %}
                  {% assign list_position = -7 %}
                {% when 'US' %}
                  {% assign list_position = -6 %}
                {% when 'IE' %}
                  {% assign list_position = -5 %}
                {% when 'NL' %}
                  {% assign list_position = -4 %}
                {% when 'AU' %}
                  {% assign list_position = -3 %}
                {% when 'DE' %}
                  {% assign list_position = -2 %}
                {% when 'AE' %}
                  {% assign list_position = -1 %}
                {% else %}
                  {% assign list_position = 1 %}
              {% endcase %}
            {% endif %}

            {% if forloop.first and list_position == 1 %}
              {% assign border_location = 'border-top:1px solid rgba(27,27,27,0.15);' %}
              {% assign border_location = 'bordered' %}
            {% elsif forloop.index == 2 and first_selected %}
              {% assign border_location = 'border-top:1px solid rgba(27,27,27,0.15);' %}
              {% assign border_location = 'bordered' %}
              {% assign first_selected = false %}
            {% else %}
              {% assign border_location = '' %}
              {% assign first_selected = true %}
            {% endif %}

            <li class="disclosure__item {{ border_location }}" tabindex="-1" style="order:{{ list_position }};">
              <a
                href="#"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true" class="current-country"
                {% endif %}
                data-value="{{ country.iso_code }}"
              >
                <img
                  class="country-icon"
                  src="https://hatscripts.github.io/circle-flags/flags/{{ country.iso_code | downcase }}.svg"
                  height="20"
                  width="20"
                  alt="{{ country.name }} Flag"
                  fetchpriority="low"
                  loading="lazy"
                >
                <span>
                  {{ country.name }} ({{ country.currency.iso_code }}
                  {{ country.currency.symbol }})
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}
