{%- capture delivery_options -%}
  {
    "thresholdValue": {{ settings.delivery-threshold-value | json}},
    "thresholdName": {{  settings.delivery-threshold-name | json }},
    "threshold2Show": {{ settings.show-delivery-threshold2 | json }},
    "threshold2Value": {{ settings.delivery-threshold2-value | json }},
    "threshold2Name": {{ settings.delivery-threshold2-name | json }}
  }
{%- endcapture -%}

{% assign active_subscriber = false %}
{%- if customer.tags contains 'Active Subscriber' -%}
  {% assign active_subscriber = true %}
{% endif %}

<free-delivery data-settings="{{ delivery_options | strip_newlines | escape }}" data-delivery-status="{{- active_subscriber -}}">
  {%- if active_subscriber -%}
    <p class="free-delivery_text">Your Unlimited FREE Delivery Subscription is: <span class="success">active</span></p>
  {% else %}
    <p class="free-delivery_text">
      {%- if cart.total_price >= settings['delivery-threshold2-value'] and settings['show-delivery-threshold2'] -%}
        <span class="success">Enjoy! You've unlocked FREE {{ settings['delivery-threshold2-name'] }}.</span>
        {% assign progress = 100 %}
        {% assign bg_color = 'var(--c-success)' %}

      {% elsif cart.total_price >= settings['delivery-threshold-value'] %}
        <span class="success"> You've unlocked FREE {{ settings['delivery-threshold-name'] }}.</span>
        {% assign progress = 100 %}
        {% assign bg_color = 'var(--c-success)' %}
        {%- if settings['show-delivery-threshold2'] -%}
          <br>
          Spend {{ settings['delivery-threshold2-value'] | minus: cart.total_price | money_without_trailing_zeros }} more for FREE {{ settings['delivery-threshold2-name'] }}.
          {% assign progress = cart.total_price | times: 100 | divided_by: settings['delivery-threshold2-value'] %}
          {% assign bg_color = 'var(--c-grey)' %}
        {%- endif -%}

      {% else %}
        Spend {{ settings['delivery-threshold-value'] | minus: cart.total_price | money_without_trailing_zeros }} more for FREE {{ settings['delivery-threshold-name'] }}.
        {% assign progress = cart.total_price | times: 100 | divided_by: settings['delivery-threshold-value'] %}
         {% assign bg_color = 'var(--c-grey)' %}
      {%- endif -%}
    </p>
    <div class="free-delivery_status-bar" style="--pc-progress: {{ progress }}%;--bg-color:{{ bg_color }}"></div>
  {% endif %}
</free-delivery>

{% stylesheet %}
  free-delivery {
    width: 100%;

    & .free-delivery_text {
      text-align: center;
      font-size: var(--txt-sm);
      width: 100%;

      & span {
        margin-bottom: 0.5em;
        width: 100%;
      }
    }

    & .free-delivery_status-bar {
      --pc-progress: attr(data-progress, 0%);
      --bg-color: var(--c-grey);

      margin: 0.5em 0;
      height: 2px;
      width: 100%;
      background-color: var(--c-light-grey);

      &::before {
        content: '';
        display: block;
        height: 100%;
        width: var(--pc-progress);
        background-color: var(--bg-color);
        transition: width 0.3s var(--bezier);
      }

      &::after {
        content: '';
        display: block;
        position: relative;
        top: -5px;
        left: calc(var(--pc-progress) - 8px);
        height: 8px;
        width: 8px;
        border-radius: 4px;
        background-color: var(--bg-color);
        transition: left 0.3s var(--bezier);
      }
    }
  }
{% endstylesheet %}
