<div class="sub_menu">
  <b class="sub-menu_title">
    {% if back %}
      {% render 'icon' with 'arrow', class: "rotate180 sub_menu-close" %}
      {{ menu.title }}
    {% else %}
      {{ menu.title | split: '-' | last }}
    {% endif %}
  </b>

  <ul class="sub_menu-items">
    {% for link in menu.links %}
      <li class="sub_menu-item dropdown-{{link.title | handle}}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
