{% assign style_tag = product.tags | where: 'style:' | first %}
{% assign this_url = product.url %}

{%- assign top_types = 'Tee,Hood,Jacket,Gilet,Top,Sweatshirt,Vest,Bra,Polo,Tracksuit' | split: ',' -%}
{%- assign bottom_types = 'Bottoms,Leggings,Skirt,Tracksuit Bottoms' | split: ',' -%}
{%- assign crop_origin = 'center' -%}

{%- for type in top_types -%}
  {%- if product.type == type -%}{%- assign crop_origin = 'top' -%}{%- break -%}{%- endif -%}
{%- endfor -%}

{%- if crop_origin == 'center' -%}
  {%- for type in bottom_types -%}
    {%- if product.type == type -%}{%- assign crop_origin = 'bottom' -%}{%- break -%}{%- endif -%}
  {%- endfor -%}
{%- endif -%}

{% if style_tag %}
  <div class="colour-selection">
    <div class="accordian-header">Colours:</div>
    <div class="colour-grid">
      {% assign found_products = '' %}
      {% for collection in product.collections %}
        {% paginate collection.products by 1000 %}
          {% for product in collection.products %}
            {% if product.tags contains style_tag %}
              {% unless found_products contains product.id %}
                {% assign found_products = found_products | append: ' ' | append: product.id %}
                <a
                  style="background: {{ product.metafields.product.colour.value.hex }}"
                  class="colour-swatches {%- if this_url == product.url %} active{% endif -%}"
                  href="{% if this_url == product.url %}#{%else%}{{ product.url }}{% endif %}"
                  pid="{{ product.id }}"
                >
                  {{ product.featured_image | image_url: width: 400, height: 400, crop: crop_origin | image_tag: width: 400, widths: '100, 150, 200, 300, 400', sizes: '(max-width: 500px) 25vw, (max-width: 1006px) 105px, 8vw', fetchpriority: 'low' }}

                  {% assign color_name = product.title | replace: '–', '-' | split: '-' %}
                  <span class="tooltip">{{ color_name[-1] }}</span>
                  {% comment %}
                    {% if section.settings.show_color_swatch %}
                      <div class="colourtype" style="border-top:1px solid white; height: 3px;"></div>
                    {% endif %}
                  {% endcomment %}
                </a>
              {% endunless %}
            {% endif %}
          {% endfor %}
        {% endpaginate %}
      {% endfor %}
    </div>
    {% break %}
  </div>
{% endif %}
