{% doc %}
  Formatted Product title

  @param {object} product - Product object
  @param {string} [heading] - is this a page heading?

  @example
  {% render 'product-title', product: 'Featured Product', heading: 'h1'%}
{% enddoc %}

{% if heading %}
  {% assign element_type = heading %}
{% else %}
  {% assign element_type = 'span' %}
{% endif %}

{%- if product.title contains '-' or product.title contains '–' %}
  {%- assign product_title = product.title | replace: '–', '-' | split: '-' -%}
  <a class="Title" {% if request.path != product.url and product.available %}href="{{ product.url }}"{% else %}disabled{% endif %}>
    <{{ element_type }} class="title">
      {{- product.title | remove: 'Gym King ' | remove: product_title.last | remove_last: '-' | strip -}}
    </{{ element_type }}>
    <span class="colour">{{ product_title.last }}</span>
  </a>
{%- else -%}
  <a class="Title" {% if request.path != product.url %}href="{{ product.url }}"{% endif %}>
    <span class="title">{{ product.title | remove: 'Gym King ' | strip }}</span>
  </a>
{%- endif -%}
