 {% assign position_count = 0 %}
 <infinite-scroll class="max-width">
  {%- for product in product_list -%}
    {% assign lazyload = 'lazy' %}
    {% if forloop.index0 < 5 %}
      {% assign lazyload = 'eager' %}
    {% endif %}

    {% if template.name == 'collection' %}
      {% assign position_count = position_count | plus: 1 %}
      {% assign current_page = paginate.current_page | modulo: 3 %}
      {% case current_page %}
        {% when 0 -%}
          {%- assign banner_location = 7 %}
        {% when 2 -%}
          {%- assign banner_location = 11 %}
        {% when 1 -%}
          {%- assign banner_location = 13 %}
      {% endcase %}

      {% if position_count == banner_location %}
        {% assign gender = product.vendor | downcase %}
        {% assign gender_key = gender %}
        {% if gender == 'boys' or gender == 'girls' %}
          {% assign gender_key = 'kids' %}
        {% endif %}
        {%  assign gender_letter = gender_key | slice: 0, 1 %}

        {% assign tier = '3' %}
        {% if paginate.current_page >= 3 and current_page == 0 %}
          {% assign tier = '3' %}
        {% elsif paginate.current_page >= 2 and current_page == 2 %}
          {% assign tier = '2' %}
        {% else %}
          {% assign tier = '' %}
        {% endif %}

        {% assign img_key = 'img-' | append: gender_key | append: '-content' %}
        {% assign url_key = 'url' | append: gender_letter | append: '-plp-content' %}
        {% if tier != '' %}
          {% assign img_key = img_key | append: '-' | append: tier %}
          {% assign url_key = url_key | append: '-' | append: tier %}
        {% endif %}

        <article class="product-grid-insert">
          <a data-gender="{{ collection.vendor }}" href="{{ settings[url_key] }}" class="insert-{{ tier }}{{ gender_key | slice: 0, 1 }}">
            {{ settings[img_key] | image_url: width: '850px' | image_tag: width: 850, sizes: '(max-width: 640px) 100vw, (max-width: 1140px) 68vw, 50vw', widths: '240, 360, 480, 720, 850', loading: 'lazyload' }}
          </a>
        </article>
      {% endif %}
    {% endif %}

    {% comment %} ---- Product Cards ---- {% endcomment %}
    {%- render 'product-card', product: product, loading: lazyload -%}
  {%- endfor -%}
</infinite-scroll>
