{% doc %}
  Product card snippet

  @param {object} product - Product object
  @param {string} [loading] - Defaults to "lazy" but can be changed to "eager" or "auto"
  @param {string} [class] - add a custom class - ideal for splider
  @param {boolean} [modal] - force the modal button to always display - ideal for carousels with limited width

  @example
  {% render 'example-snippet', product: 'Featured Products', loading: "lazy", class: "custom-class" %}
{% enddoc %}

{% assign loading = loading | default: 'lazy' %}
{% assign sizes = '(min-width: 1200px) 25vw, (min-width: 900px) 33vw, (min-width: 600px) 50vw, 100vw' %}
{% assign widths = '300, 450, 600, 750, 900, 1200, 1800' %}
{% assign show_timer = false %}
{% if product.tags contains settings['countdown-tag'] and settings['countdown-product-check'] %}
  {% assign show_timer = true %}

  {%- capture countdown_settings -%}
    {
    "end": {{ settings.countdown-date | json }},
    "copy": {{ settings.countdown-announcement-text | json }}
    }
  {%- endcapture -%}
{% endif %}
{% capture qatb_buttons %}
  <div class="qatb-btns">
    {% for variant in product.variants %}
      <a
        href="{{ routes.cart_add_url }}?id={{ variant.id }}&quantity=1"
        id="qatb-btn--{{ variant.id }}"
        class="{%if variant.inventory_quantity != 0 and variant.price > 0  %}qatb-btn{% else %}qatb-btn--oos{% assign oos = true %}{% endif %}"
        data-v-id="{{ variant.id }}"
      >
        {{ variant.title | replace: 'One Size', 'Add to Bag' | replace: ".00", "" }}
      </a>
    {% endfor %}
  </div>
  {% if oos %}
    <div href="#" class="BIS_trigger button button-secondary" data-product-data="{{  product | json | escape }}">
      Get a Stock Notification
    </div>
  {% endif %}
{% endcapture %}



<product-card
  data-id="{{ product.id }}"
  data-instock="{{product.available}}"
  id="{{ product.id }}"
  class="{{ class }} modal-{{- modal-}} "
>
  {% comment %} images and interactions {% endcomment %}
  <div class="product_card-media {% if product.available == false %}oos-overlay{% endif %}">
    {% if show_timer or settings['decal-check'] %}
      {{ settings['countdown-decal'] | image_url: width: 950 | image_tag: sizes: sizes, widths: widths, loading: 'lazy', class: 'product_card-decal' }}
    {% else %}
       {% render 'evergreen-decal', product: product, class: 'product_card-decal' %}
    {% endif %}
    <a class="product_card-images product-container--{{ product.id }}" href="{{ product.url }}">
      <div class="product_card-first-image">
        {{ product.featured_image | image_url: width: 1, height: 1 | image_tag: loading: 'eager', class: 'background-image', draggable: false }}
        <div class="loader grid-loader"></div>
        {{ product.featured_image | image_url: width: 1920 | image_tag: sizes: sizes, widths: widths, loading: loading, draggable: false }}
      </div>

      {% if product.images[2] %}
        {{ product.images[2] | image_url: width: 1920 | image_tag: sizes: sizes, widths: widths, loading: 'lazy', draggable: false }}
      {% endif %}
    </a>

    {% unless product.requires_selling_plan or product.metafields.custom.product_set %}
      {% if product.available %}
        <div class="datb">{{ qatb_buttons }}</div>
      {% else %}
        <button href="#" class="button button-inverted BIS_trigger outofstockcontainer" data-product-data="{{product | json | escape}}">Notify me</button>
      {% endif %}
    {% endunless %}
  </div>

  <div class="product_card-info">
    {% render 'product-title', product: product %}
    {% render 'product-price', product: product %}
    {% if show_timer %}
      <div class="countdown-wrapper">
        <countdown-timer data-countdown="{{ countdown_settings | strip_newlines | escape }}"></countdown-timer>
      </div>
    {% endif %}
  </div>

  {% render 'wishlist-app-links', linkType: 'list-product', product: product %}

  {% unless product.requires_selling_plan or product.metafields.custom.product_set or product.available == false %}
    {% assign image_list = '' %}
    {% for image in product.images %}
      {% unless forloop.index == 2 %}
        {% assign img_url = image | image_url: width: 700 %}
        {% assign image_list = image_list | append: img_url %}
        {% unless forloop.last %}
          {% assign image_list = image_list | append: ',' %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
    <a
      class="mqatb-show round-btn"
      href="javascript:void(0)"
      role="button"
      aria-label="open the mobile quick add modal"
      aria-expanded="false"
      data-target="mqatb-{{product.id}}"
      data-images="{{ image_list | escape }}"
      data-product-title="{{ product.title }}"
    >
      {% render 'icon' with 'cart' as icon %}
    </a>
  {% endunless %}
</product-card>
