{% doc %}
  Formatted Product Price

  @param {object} product - Product object
  @param {boolean} use_variants - Whether to use variants for pricing

  @example
  {% render 'product-price', product: 'Featured Product', use_variants: true %}
{% enddoc %}

{% if product.price_varies and use_variants %}
  {% assign product = product.selected_or_first_available_variant %}
{% endif %}

{% if product.final_price %}
  {% assign price = product.final_price %}
  {% assign compare_at_price = product.product.compare_at_price %}
  {% assign product = product.product %}
{% else %}
  {% if product.metafields.custom.product_set %}
    {% assign price = 0 %}
    {% assign compare_at_price = 0 %}
    {% for product in product.metafields.custom.product_set.value %}
      {% assign price = price | plus: product.price %}
      {% if product.compare_at_price > 0 %}
        {% assign compare_at_price = compare_at_price | plus: product.compare_at_price %}
      {% else %}
        {% assign compare_at_price = compare_at_price | plus: product.price %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign price = product.price %}
    {% assign compare_at_price = product.compare_at_price %}
  {% endif %}
{% endif %}

{% assign inventory = product.inventory_quantity | minus: settings.product_buffer %}

<div class="Price--wrapper">
  {% unless price >= compare_at_price or compare_at_price == null or compare_at_price == 0 %}
    {% if product.available %}
      {% assign markdown = true %}
      <span class="Price Price--compareAt">
        {% if cart.currency.symbol == '$' %}
          {{- compare_at_price | money_with_currency | remove: ".00" -}}
        {% else %}
          {{- compare_at_price | money_without_trailing_zeros -}}
        {% endif %}
      </span>
    {% endif %}
  {% endunless %}

  <span
    class="Price {% if markdown %}Price--markdown{% endif %}"
    {% if product.taxable == false %}
      data-product-vat="0"
    {% endif %}
    {% if product.metafields.GlobalE.product_meta != blank %}
      data-product-meta="{{product.metafields.GlobalE.product_meta | json | escape}}"
    {% endif %}
  >
    {% if product.price_varies %}from{% endif %}
    {%- if product.available or compare_at_price == 0 or compare_at_price == null -%}
       {% if cart.currency.symbol == '$' %}
          {{- price | money_with_currency  | remove: ".00" -}}
        {% else %}
          {{- price | money_without_trailing_zeros -}}
        {% endif %}
    {% else %}
       {% if cart.currency.symbol == '$' %}
          {{- compare_at_price | money_with_currency | remove: ".00" -}}
        {% else %}
          {{- compare_at_price | money_without_trailing_zeros -}}
        {% endif %}
    {%- endif -%}
  </span>

  {% if inventory < 10 and product.inventory_management %}
    {% if inventory == 1 and product.inventory_management %}
      <span class="Price--saving error">Last One!</span>
    {% elsif inventory == 0 and product.inventory_management %}
      <span class="Price--saving error">Out of Stock</span>
    {% else %}
      <span class="Price--saving warning">Only {{ inventory }} left</span>
    {% endif %}
  {% elsif compare_at_price > price and product.available %}
    {% assign saving = compare_at_price | minus: price %}
    {% assign compare_pc = compare_at_price | divided_by: 100 %}
    {% assign saving_pc = saving | divided_by: compare_pc %}
    <span class="Price--saving flag" style="--colour: var(--c-sale);background-color: var(--c-sale);color:var(--c-white)">{{ saving_pc | floor }}% Off</span>
  {% elsif product.available == false %}
    <span class="Price--saving error">Out of Stock</span>
  {% endif %}
</div>
