{% doc %}
  Product card snippet

  @param {object} product - Product object
  @param {string} [loading] - Defaults to "lazy" but can be changed to "eager" or "auto"
  @param {number} [columns] - the number of columns on desktop - accepts values between 2 and 5

  @example
  {% render 'example-snippet', product: 'Featured Products', loading: "lazy", columns: 4 %}
{% enddoc %}

{% case columns %}
  {% when 2 %}
    {% assign sizes = '(min-width: 541px) 50vw, 100vw' %}
  {% when 3 %}
    {% assign sizes = '(min-width: 961px) 33vw, (min-width: 541px) 50vw, 100vw' %}
  {% when 5 %}
    {% assign sizes = '(min-width: 961px) 20vw, (min-width: 781px) 25vw, (min-width: 541px) 33vw, (min-width: 391px) 50vw, 100vw' %}
  {% else %}
    {% assign sizes = '(min-width: 961px) 25vw, (min-width: 781px) 33vw, (min-width: 541px) 50vw, 100vw' %}
{% endcase %}
{% assign widths = '190, 390, 540, 780, 960, 1280, 1920' %}

{% capture qatb_buttons %}
  <div class="qatb-btns">
    {% for variant in product.variants %}
      <a
        href="{{ routes.cart_add_url }}?id={{ variant.id }}&quantity=1"
        id="qatb-btn--{{ variant.id }}"
        class="{%if variant.inventory_quantity > 0 and variant.price > 0  %}qatb-btn{% else %}qatb-btn--oos{% assign oos = true %}{% endif %}"
        data-v-id="{{ variant.id }}"
      >
        {{ variant.title | replace: 'One Size', 'Add to Bag' }}
      </a>
    {% endfor %}
  </div>
  {% if oos %}
    <div href="#" class="BIS_trigger button button-secondary" data-product-data="{{  product | json | escape }}">
      Get a Stock Notification
    </div>
  {% endif %}
{% endcapture %}

{% assign loading = loading | default: 'lazy' %}

<product-card data-prod-id="{{ product.id }}">
  {% comment %} images and interactions {% endcomment %}
  <div class="product_card-media">
    <a class="product_card-images" href="{{ product.url }}">
      <div class="loader grid-loader"></div>
      {{ product.featured_image | image_url: width: 1, height: 1 | image_tag: loading: loading }}
      {{ product.featured_image | image_url: width: 1920 | image_tag: sizes: sizes, widths: widths, loading: loading }}
      {% if product.images[2] %}
        {{ product.images[2] | image_url: width: 1920 | image_tag: sizes: sizes, widths: widths, loading: loading }}
      {% endif %}
    </a>

    <div class="datb">
      {{ qatb_buttons }}
    </div>
  </div>

  <div class="product_card-info">
    {% render 'product-title', product: product %}
    {% render 'product-price', product: product %}
  </div>

  {% render 'wishlist-app-links', linkType: 'list-product', product: product %}

  {% unless product.requires_selling_plan or product.metafields.custom.product_set or product.available == false %}
    <a class="mqatb-show round-btn" href="javascript:void(0)" role="button" aria-expanded="false" data-target="mqatb-{{product.id}}">
      {% render 'icon' with 'cart' as icon %}
    </a>
  {% endunless %}

  <div class="fade-in mqatb-modal" id="mqatb-{{ product.id }}" aria-hidden="true">
    <div class="mqatb-img">
      {{ product.featured_image | image_url: width: 780 | image_tag: sizes: '100vw', widths: widths, loading: 'lazy' }}
    </div>
    <div class="mqatb-info">
      {% render 'product-title', product: product %}
      {% render 'product-price', product: product %}
    </div>
    select size:
    {{ qatb_buttons }}
    <div class="mqatb-close round-btn">{% render 'icon' with 'plus' as icon, class: "close-icon" %}</div>
  </div>
</product-card>


