{% doc %}
  Formatted Product title

  @param {object} product - Product object
  @param {boolean} [heading] - is this a page heading?
  @example
  {% render 'product-title', product: 'Featured Product', header: 'true'%}
{% enddoc %}


{% if heading == 'true' %}
  {% assign element_type = 'h1' %}
{% else %}
  {% assign element_type = 'span' %}
{% endif %}


{%- if product.title contains '-' or product.title contains '–' %}

  {%- assign product_title = product.title | replace: '–', '-' | split: '-' -%}
  <a class="Title" href="{%if product.available %}{{ product.url }}{% else %}#{% endif %}">
    <{{ element_type }} class="{%- if heading -%}h4{% endif %} title">
      {{- product.title | remove: 'Gym King ' | remove: product_title.last | remove_last: '-' | strip -}}
    </{{ element_type }}>
    <span class="colour">{{ product_title.last }}</span>
  </a>
{%- else -%}
  <a class="Title" href="{{ product.url }}">
    <span class="title">{{ product.title | remove: 'Gym King ' | strip }}</span>
  </a>
{%- endif -%}
