{% doc %}
  Formatted Product Price

  @param {object} product - Product object

  @example
  {% render 'product-price', product: 'Featured Product'%}
{% enddoc %}

{% if product.final_price %}
  {% assign inventory = product.variant.inventory_quantity %}
  {% assign price = product.final_price %}
  {% assign compare_at_price = product.product.compare_at_price %}
  {% assign product = product.product %}
{% else %}
  {% if product.metafields.custom.product_set %}
    {% assign price = 0 %}
    {% assign compare_at_price = 0 %}
    {% for product in product.metafields.custom.product_set.value %}
      {% assign price = price | plus: product.price %}
      {% if product.compare_at_price > 0 %}
        {% assign compare_at_price = compare_at_price | plus: product.compare_at_price %}
      {% else %}
        {% assign compare_at_price = compare_at_price | plus: product.price %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign price = product.price %}
    {% assign compare_at_price = product.compare_at_price %}
  {% endif %}
{% endif %}

<div class="Price--wrapper">
  {% unless price >= compare_at_price or compare_at_price == null or compare_at_price == 0 %}
    {% if product.available %}
      {% assign markdown = true %}
      <span class="Price Price--compareAt">
        {{- compare_at_price | money_without_trailing_zeros -}}
      </span>
    {% endif %}
  {% endunless %}

  <span
    class="Price {% if markdown %}Price--markdown{% endif %}"
    {% if product.taxable == false %}
      data-product-vat="0"
    {% endif %}
    {% if product.metafields.GlobalE.product_meta != blank %}
      data-product-meta="{{product.metafields.GlobalE.product_meta | json | escape}}"
    {% endif %}
  >
    {%- if product.available or compare_at_price == 0 or compare_at_price == null -%}
      {{- price | money_without_trailing_zeros -}}
    {% else %}
      {{- compare_at_price | money_without_trailing_zeros -}}
    {%- endif -%}
  </span>
  {% if template.name contains 'cart' and inventory < 6 and inventory > 0 and product.requires_selling_plan == false %}
    <div class="Price--saving error">
      {% if inventory == 1 %}
        Last One
      {% else %}
        Only {{ inventory }} left
      {% endif %}
    </div>
  {% else %}
    {% if product.inventory_quantity == 1 and product.inventory_management %}
      <span class="Price--saving error">Last {{ product.inventory_quantity }}!</span>
    {% elsif product.inventory_quantity < 15 and product.inventory_management %}
      <span class="Price--saving warning">Only {{ product.inventory_quantity }} left</span>
    {% elsif compare_at_price > price and product.available %}
      {% assign saving = compare_at_price | minus: price %}
      {% assign compare_pc = compare_at_price | divided_by: 100 %}
      {% assign saving_pc = saving | divided_by: compare_pc %}
      <span class="Price--saving success">{{ saving_pc | floor }}% OFF</span>
    {% endif %}
  {% endif %}
</div>
