<div class="tech-specs">
  <div class="accordian-header">Key Features:</div>
  <div class="tech-specs--list">
    {% for feature in product.metafields.product.features.value %}
      {% assign image_name = feature | handle | append: '.svg' | prepend: 'feature-' %}
      {% assign image_tag =  images[image_name] | image_url: width: 24 | image_tag  %}

      {% if image_tag != blank %}
        <div class="tech-specs--item {{feature | handle }}">
          {{ image_tag -}}
          <small>{{ feature }}</small>
        </div>
      {% comment %} {% else %}
        <div class="tech-specs--item {{feature | handle }}">
          <img src="https://placehold.co/62?text=IMAGE&font=oswald" alt="" height="62" width="62"><small>{{ feature }}</small>
        </div> {% endcomment %}
      {% endif %}
    {% endfor %}
  </div>
</div>
