<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Start of Shoplift scripts -->
    {% render 'shoplift' %}
    <!-- End of Shoplift scripts -->

    <script>
      {%- if request.page_type == 'product' -%}
        window.myCurrentProduct = {{ product | json }};
      {%- endif -%}

      {% comment %} Init gtag() {% endcomment %}
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        window.dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
        functionality_storage: 'denied',
        personalization_storage: 'denied',
        security_storage: 'granted',
        wait_for_update: 2000,
      });
      gtag('set', 'ads_data_redaction', true);
      gtag('set', 'url_passthrough', true);

      {% comment %} GTM Container loader {% endcomment %}
      {% comment %} (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PT4PRKB'); {% endcomment %}
    </script>
    <script async src="https://www.googletagmanager.com/gtm.js?id=GTM-PT4PRKB"></script>

    <meta name="facebook-domain-verification" content="n2q1ogzkqnirqe5g5ut48t1wjvzjlr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <!-- Google Verification Tag - Start -->
    <meta name="google-site-verification" content="7WhvGvj8cWTMWhfYz12DWklBNm4s3l-nBAgQNWRi18g">

    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape | replace: "Product Details ", ""  | truncate: 150 }}">
    {% else %}
      <meta name="description" content="{{ settings.default-meta-description }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% if template contains 'search' or handle contains 'basket' %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% assign updated_url = canonical_url %}

    {% if canonical_url contains 'sale' and canonical_url contains 'collections' %}
    {% else %}
      {% assign ending = canonical_url | slice: -5, 5 %}
      {% if ending == '/mens' %}
        {% assign updated_url = canonical_url | remove: '/mens' %}
      {% endif %}
      {% assign ending = canonical_url | slice: -7, 7 %}
      {% if ending == '/womens' %}
        {% assign updated_url = canonical_url | remove: '/mens' %}
      {% endif %}
    {% endif %}

    <link rel="canonical" href="{{ updated_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: '96px' }}" media="(prefers-color-scheme: light)" type="image/png">
    {%- endif -%}
    {%- if settings.alt_favicon -%}
      <link rel="shortcut icon" href="{{ settings.alt_favicon | image_url: width: '96px' }}" media="(prefers-color-scheme: dark)" type="image/png">
    {%- endif -%}

    {% render 'css-variables' %}
    <link rel="stylesheet" href="{{ 'critical.min.css' | asset_url }}">
    <link rel="preload" href="{{ 'splide-core.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ 'global.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'global.min.css' | asset_url }}"></noscript>
    <noscript><link rel="stylesheet" href="{{ 'fallback.min.css' | asset_url }}"></noscript>

    {{ content_for_header }}
    {% render 'rich-structured-data' %}
  </head>

  <body class="{%- if template.directory -%}template-{{ template.directory | handle }}{%- endif -%} template-{{ template.name | handle }}">
    <a class="visually-hidden" href="#main" alt="skip to content">{{ 'header.navigation.skip_to_content' | t }}</a>
    <page-overlay aria-disabled></page-overlay>

    {% section 'header-main' %}
    {% section 'drawer-nav' %}
    {% section 'header-announcement' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer-main' %}

    {% unless request.page_type == 'cart' %}
      {% section 'drawer-cart' %}
    {% endunless %}

    {% render 'js-variables' %}

    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/common/shopify.js" async></script>
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/4de0c88d0702179aeeec9765/script.js" async></script>
    <!-- End cookieyes banner -->

    <link rel="prefetch" href="{{ 'splide.min.js' | asset_url }}" as="script" crossorigin="anonymous">
    <link rel="prefetch" href="{{ 'HeroCarousel.js' | asset_url }}" as="script" crossorigin="anonymous">
    <script type="module" src="{{ 'main.js' | asset_url }}" defer></script>
    {% if template contains 'product' %}
      <script type="module" src="{{ 'main-pdp.js' | asset_url }}" defer></script>
    {% endif %}
    {% if template contains 'collection' or template contains 'search' %}
      <script type="module" src="{{ 'main-plp.js' | asset_url }}" defer></script>
    {% endif %}
    {%- if template == 'customers/addresses' -%}
      <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script type="text/javascript" src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" defer></script>

    <!-- included iwish_v2 with footer my added---------- -->
    {% render 'tracking-clarity' %}
    {% render 'tracking-criteo' %}
    {% render 'tracking-adroll', customer: customer %}
    {% render 'tracking-omteria' %}
    {% render 'tracking-adscale' %}
    {% render 'tracking-ometria', cart: cart %}
    {% render 'tracking-taggstar' %}

    {% section 'wishlist-app-settings' %}
    {% render 'wishlist-app-links', linkType: 'footer-script' %}

    <!-- Begin Shopify-Clearpay / klarna JavaScript Snippet (v1.0.9) -->
    {% if template.name == 'product' or template.name == 'cart' %}
      <script>
        window.variantnaThemeGlobals={};
        {%case template.name%}
        {% when "product" %}
          {% if product.first_available_variant.price %}
            window.variantnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};
          {% endif %}
          window.variantnaThemeGlobals.productVariants={{product.variants|json}};
          window.variantnaThemeGlobals.documentCopy=document.cloneNode(true);
        {% when "cart" %}
          window.variantnaThemeGlobals.data_purchase_amount={{cart.total_price}};
          window.variantnaThemeGlobals.documentCopy=document.cloneNode(true);
          {%endcase%}
      </script>
    {% endif %}

    <!-- Google Tag Manager (noscript) -->
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PT4PRKB"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
    <!-- End Google Tag Manager (noscript) -->

    {% unless template == 'product' %}
      <script src="//eu.fw-cdn.com/12832973/808139.js" chat="true" defer></script>
    {% else %}
      <style>
        .yotpo-widget-loyalty-floater-widget.yotpo-widget-override-css {
          display: none !important;
        }

        #fc_frame {
          display: none;
          visibility: hidden;
        }
      </style>
    {% endunless %}

    {% render 'globale-js' %}
    {%- render 'country-switcher-global' -%}

    {% if request.design_mode %}
      <script src="{{ 'designmode.js' | asset_url }}" defer></script>
    {% endif %}
  </body>
</html>
