<link rel="stylesheet" href="{{ 'articles.min.css' | asset_url }}">

{% if article.image %}
  <div class="article-hero" style="background-image: url('{{ article.image | image_url: width: 1400 }}');">
  </div>
{% endif %}

<div class="article-wrapper rtf">
  <p class="article-meta">
    {%- if article.metafields.article.event_location.value -%}
      <b>Event details:</b> {{ article.metafields.article.event_location.value }} | {{ article.metafields.article.event_date.value | date: '%B %d, %Y' }}
    {% elsif article.metafields.article.event_date.value %}
      <b>Event date:</b> {{ article.metafields.article.event_date.value | date: '%B %d, %Y' }}
    {% else %}
      <b>Article date:</b> {{ article.published_at | date: '%B %d, %Y' | default: '<i>publish date TBC</i>' }}
    {%- endif -%}
  </p>
  <h1>{{ article.title }}</h1>

  {% if article.metafields.custom.video.value %}
    {% assign video = article.metafields.custom.video.value %}
    {% assign poster = '/cdn/shop/' | append: video.preview_image | replace: '.jpg', '_grande.jpg' %}
    {% assign video_tag = article.metafields.custom.video.value | video_tag: controls: true, poster: poster %}
    {% assign split_content = article.content | replace: 'insert-video-here', video_tag %}
    {{ split_content }}
  {% else %}
    {{ article.content }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Article Main",
  "class": "section--article-main",
  "settings": []
}
{% endschema %}
