{{ 'card-grid.min.css' | asset_url | stylesheet_tag }}

<div class="edit-trending-colors max-width">
  <h3>{{ section.settings.title }}</h3>
  <div class="trending-color-grid">
    {% for block in section.blocks %}
      <div class="trending-color-card {{ block.settings.gender -}}-gender-filter fade-in">
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: 1270 | image_tag }}
        {% endif %}
        <div class="trending-color-card--content">
          {% if block.settings.title != blank %}
            <h4 class="h3 emphasis left" style="margin: 0 0 1em">{{ block.settings.title }}</h4>
          {% endif %}
          {% if block.settings.text != blank %}
            <p>{{ block.settings.text }}</p>
          {% endif %}
          <a href="{{ block.settings.url }}" class="button button-primary">{{ block.settings.button_text | default: 'read more' }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.settings.cta_1_url != blank and section.settings.cta_2_url != blank %}
    <div class="trending-color-ctas">
      {% if section.settings.cta_1_url != blank %}
        <a href="{{ section.settings.cta_1_url }}" class="button button-primary mens-gender-filter fade-in">
          {{- section.settings.cta_1_text -}}
          {%- render 'icon', icon: 'arrow' -%}
        </a>
      {% endif %}
      {% if section.settings.cta_2_url != blank %}
        <a href="{{ section.settings.cta_2_url }}" class="button button-primary womens-gender-filter fade-in">
          {{- section.settings.cta_2_text -}}
          {%- render 'icon', icon: 'arrow' -%}
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Card Grid",
  "class": "section--card-grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Block Title"
    },
    {
      "type": "url",
      "id": "cta_1_url",
      "label": "Mens CTA URL"
    },
    {
      "type": "text",
      "id": "cta_1_text",
      "label": "Mens CTA Text"
    },
    {
      "type": "url",
      "id": "cta_2_url",
      "label": "Womens CTA URL"
    },
    {
      "type": "text",
      "id": "cta_2_text",
      "label": "Womens CTA Text"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "limit": 12,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Card Text",
          "info": "Ideal for a brief description."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "gender",
          "label": "Gender",
          "options": [
            {
              "label": "Neutral",
              "value": ""
            },
            {
              "label": "Mens",
              "value": "mens"
            },
            {
              "label": "Womens",
              "value": "womens"
            },
            {
              "label": "Kids",
              "value": "kids"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card Grid",
      "category": "Content"
    }
  ]
}
{% endschema %}
