<hero-carousel>
  {%- for block in section.blocks -%}
    <div class="hero_slide  splide__slide" data-gender="{{ block.settings.target_gender }}" data-index="{{forloop.index0}}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
      {% assign preload = 'lazy' %}
      {% unless forloop.first %}
        {% assign preload = 'eager' %}
      {% endunless %}

      {% if block.settings.mobile_video %}
        {{ block.settings.mobile_video.preview_image | image_url: width: 1, height: 1 | image_tag: width: 1, class: 'hero_slide-color', alt: 'background color' }}

        {% assign poster_image = block.settings.mobile_poster | image_url: height: '800px' | default: block.settings.mobile_video.preview_image %}

        {% assign aspect_ratio = 'aspect-ratio: ' | append: block.settings.mobile_video.aspect_ratio %}
        {% assign video_src = block.settings.mobile_video.sources | where: 'format', 'mp4' | first %}

        <video
          playsinline="true"
          loop="loop"
          muted="muted"
          class="hero_slide-video mob-only"
          poster="{{ poster_image }}"
          style="{{ aspect_ratio }}"
          fetchpriority="{% if preload == 'eager' %}high{% else %}low{% endif %}"
        >
          <source data-src-lazy="{{ video_src.url }}" type="video/mp4">
        </video>

      {% else %}
        {{ block.settings.mobile_poster | image_url: height: 800 | image_tag: height: 800, class: 'hero_slide-video mob-only', loading: preload, fetchpriority: 'high' }}
      {% endif %}

      {% if block.settings.desktop_video %}
        {% assign poster_image = block.settings.desktop_poster | image_url: width: '1270px' | default: block.settings.desktop_video.preview_image %}

        {% assign aspect_ratio = 'aspect-ratio: ' | append: block.settings.desktop_video.aspect_ratio %}
        {% assign video_src = block.settings.desktop_video.sources | where: 'format', 'mp4' | first %}

        <video
          playsinline="true"
          loop="loop"
          muted="muted"
          class="hero_slide-video mob-hide"
          poster="{{ poster_image }}"
          style="{{ aspect_ratio }}"
          fetchpriority="{% if preload == 'eager' %}high{% else %}low{% endif %}"
        >
          <source data-src-lazy="{{ video_src.url }}" type="video/mp4">
        </video>
      {% else %}
        {{ block.settings.desktop_poster | image_url: width: '1270px' | image_tag: width: 1270, class: 'hero_slide-video mob-hide', loading: preload }}
      {% endif %}

      <div class="hero_slide-content hero_slide-content--{{ block.settings.content_alignment }}">
        {% if block.settings.overlay_url %}
          <a href="{{ block.settings.overlay_url }}" class="hero_slide-overlay"></a>
        {% endif %}

        {% if block.settings.lockup_img %}
          {% assign lockup_width = "width:min(90vw, " | append: block.settings.lockup_width | append: "px)" %}
          {{ block.settings.lockup_img | image_url: width: 500 | image_tag: class: 'hero_slide-lockup fade-in', style: lockup_width }}
        {% endif %}

        {% if block.settings.subtitle != '' and block.settings.subtitle_first %}
          <p class="h3 fade-in {{ block.settings.subtitle_font }}">
            {{- block.settings.subtitle -}}
          </p>
        {% endif %}

        {% unless block.settings.title == '' %}
          <h2 class="h1 fade-in">{{ block.settings.title }}</h2>
        {% endunless %}

        {% if block.settings.subtitle != '' and block.settings.subtitle_first == false %}
          <p class="h3 fade-in  {{ block.settings.subtitle_font }}">
            {{- block.settings.subtitle -}}
          </p>
        {% endif %}

        {% unless block.settings.cta1 == '' %}
          <div class="hero_slide-ctas fade-in">
            <a href="{{ block.settings.url1 }}" class="button button-inverted">{{ block.settings.cta1 }}</a>
            {% unless block.settings.cta2 == '' %}
              <a href="{{ block.settings.url2 }}" class="button button-inverted">{{ block.settings.cta2 }}</a>
            {% endunless %}
          </div>
        {% endunless %}
      </div>
    </div>
  {% endfor %}
</hero-carousel>

<style>
  .hero_slide-lockup {
    width: min(90%, {{ }});
  }
</style>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--hero-carousel",
  "tag": "section",
  "max_blocks": 9,
  "limit": 1,
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Main Media"
        },
        {
          "type": "video",
          "id": "mobile_video",
          "label": "Mobile Video",
          "info": "Recommended: Portrait video "
        },
        {
          "type": "image_picker",
          "id": "mobile_poster",
          "label": "Mobile Cover Image"
        },
        {
          "type": "video",
          "id": "desktop_video",
          "label": "Desktop Video",
          "info": "Recommended: Landscape video"
        },
        {
          "type": "image_picker",
          "id": "desktop_poster",
          "label": "Desktop Cover Image"
        },
        {
          "type": "url",
          "id": "overlay_url",
          "label": "Overlay Link"
        },
        {
          "type": "header",
          "content": "Slide Content"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "center"
        },
        {
          "type": "image_picker",
          "id": "lockup_img",
          "label": "Lockup Image",
          "info": "Try to use an image with a transparent background"
        },
        {
          "type": "range",
          "id": "lockup_width",
          "label": "Lockup Image Width",
          "min": 50,
          "max": 200,
          "step": 5,
          "default": 200,
          "info": "Moves the hotspot along the horizontal axis.",
          "visible_if": "{{  block.settings.lockup_img != blank }}"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Slide Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Slide Subtitle"
        },
        {
          "type": "select",
          "id": "subtitle_font",
          "label": "Subtitle Font",
          "options": [
            {
              "label": "Normal",
              "value": ""
            },
            {
              "label": "Signature",
              "value": "signature"
            }
          ]
        },
        {
          "type": "checkbox",
          "label": "Subtitle first?",
          "id": "subtitle_first",
          "default": false
        },
        {
          "type": "header",
          "content": "Slide CTA's"
        },
        {
          "type": "text",
          "id": "cta1",
          "label": "Button 1 CTA"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "Button 1 URL"
        },
        {
          "type": "text",
          "id": "cta2",
          "label": "Button 2 CTA"
        },
        {
          "type": "url",
          "id": "url2",
          "label": "Button 2 URL"
        },
        {
          "type": "header",
          "content": "Gender Preference"
        },
        {
          "type": "select",
          "id": "target_gender",
          "label": "Slide Gender Target",
          "options": [
            {
              "label": "None",
              "value": ""
            },
            {
              "label": "Men's",
              "value": "mens"
            },
            {
              "label": "Women's",
              "value": "womens"
            },
            {
              "label": "Kid's",
              "value": "kids"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Hero Elements",
      "name": "Hero Slideshow",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
