<hero-carousel>
  {%- for block in section.blocks -%}
    <div class="hero_slide  splide__slide" data-gender="{{ block.settings.target_gender }}" data-index="{{forloop.index0}}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
      {% assign preload = 'lazy' %}
      {% assign fetchpriority = 'low' %}
      {% if forloop.first %}
        {% assign preload = 'eager' %}
        {% assign fetchpriority = 'high' %}
      {% endif %}

      {% if block.settings.mobile_video != blank %}
        {{ block.settings.mobile_video.preview_image | image_url: width: 1, height: 1 | image_tag: width: 1, class: 'hero_slide-color', alt: 'background color', loading: 'lazy' }}

        {% assign mobile_poster_asset = block.settings.mobile_poster | default: block.settings.mobile_video.preview_image %}
        {% assign poster_image = mobile_poster_asset | image_url: width: 960 %}

        {% assign aspect_ratio = 'aspect-ratio: ' | append: block.settings.mobile_video.aspect_ratio %}
        {% assign mobile_video_max_width = 1080 %}
        {% assign video_src = blank %}
        {% assign first_mp4_src = blank %}
        {% assign selected_width = 0 %}
        {% for source in block.settings.mobile_video.sources %}
          {% if source.format == 'mp4' %}
            {% if first_mp4_src == blank %}
              {% assign first_mp4_src = source %}
            {% endif %}
            {% if source.width <= mobile_video_max_width and source.width > selected_width %}
              {% assign video_src = source %}
              {% assign selected_width = source.width %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if video_src == blank %}
          {% assign video_src = first_mp4_src %}
        {% endif %}

        <video
          playsinline="true"
          loop="loop"
          muted="muted"
          class="hero_slide-video mob-only"
          poster="{{ poster_image }}"
          style="{{ aspect_ratio }}"
          fetchpriority="{{ fetchpriority }}"
        >
          <source data-src-lazy="{{ video_src.url }}" type="video/mp4">
        </video>

      {% else %}
        {% if block.settings.mobile_poster %}
          {{ block.settings.mobile_poster | image_url: width: 1600 | image_tag: widths: '480, 640, 800, 960, 1200, 1600', sizes: '100vw', class: 'hero_slide-image mob-only', loading: preload, fetchpriority: fetchpriority }}
        {% else %}
          <img src="https://placehold.co/650x1300?text=IMAGE&font=oswald" alt="placeholder image" height="1300" width="650" class="hero_slide-image mob-only">
        {% endif %}
      {% endif %}

      {% if block.settings.desktop_video != blank %}
        {% assign desktop_poster_asset = block.settings.desktop_poster | default: block.settings.desktop_video.preview_image %}
        {% assign poster_image = desktop_poster_asset | image_url: width: 1920 %}

        {% assign aspect_ratio = 'aspect-ratio: ' | append: block.settings.desktop_video.aspect_ratio %}
        {% assign desktop_video_max_width = 1920 %}
        {% assign video_src = blank %}
        {% assign first_mp4_src = blank %}
        {% assign selected_width = 0 %}
        {% for source in block.settings.desktop_video.sources %}
          {% if source.format == 'mp4' %}
            {% if first_mp4_src == blank %}
              {% assign first_mp4_src = source %}
            {% endif %}
            {% if source.width <= desktop_video_max_width and source.width > selected_width %}
              {% assign video_src = source %}
              {% assign selected_width = source.width %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if video_src == blank %}
          {% assign video_src = first_mp4_src %}
        {% endif %}

        <video
          playsinline="true"
          loop="loop"
          muted="muted"
          class="hero_slide-video mob-hide"
          poster="{{ poster_image }}"
          style="{{ aspect_ratio }}"
          fetchpriority="{{ fetchpriority }}"
        >
          <source data-src-lazy="{{ video_src.url }}" type="video/mp4">
        </video>
      {% else %}
        {% if block.settings.desktop_poster %}
          {{ block.settings.desktop_poster | image_url: width: 2560 | image_tag: widths: '960, 1280, 1600, 1920, 2240, 2560', sizes: '100vw', class: 'hero_slide-image mob-hide', loading: preload, fetchpriority: fetchpriority }}
        {% else %}
          <img src="https://placehold.co/1400x800?text=IMAGE&font=oswald" alt="placeholder image" height="800" width="1400" class="hero_slide-image mob-hide">
        {% endif %}
      {% endif %}

      <div class="hero_slide-content hero_slide-content--{{ block.settings.content_alignment }} hero_slide-content--{{ block.settings.v_align_mob }} hero_slide-content--{{ block.settings.v_align_desk }}">
        {% if block.settings.overlay_url %}
          <a href="{{ block.settings.overlay_url }}" class="hero_slide-overlay"></a>
        {% endif %}

        {% if block.settings.lockup_img %}
          {% assign lockup_width = 'width:min(90vw, ' | append: block.settings.lockup_width | append: 'px)' %}
          {{ block.settings.lockup_img | image_url: width: 500 | image_tag: class: 'hero_slide-lockup fade-in', style: lockup_width }}
        {% endif %}

        {% if block.settings.subtitle != '' and block.settings.subtitle_first %}
          <p class="h3 fade-in {{ block.settings.subtitle_font }}">
            {{- block.settings.subtitle -}}
          </p>
        {% endif %}

        {% unless block.settings.title == '' %}
          {% if forloop.first %}
            <h1 class="h1 fade-in {{ block.settings.title_font }}">{{ block.settings.title }}</h1>
          {% else %}
            <h2 class="h1 fade-in {{ block.settings.title_font }}">{{ block.settings.title }}</h2>
          {% endif %}
        {% endunless %}

        {% if block.settings.subtitle != '' and block.settings.subtitle_first == false %}
          <p class="h3 fade-in  {{ block.settings.subtitle_font }}">
            {{- block.settings.subtitle -}}
          </p>
        {% endif %}

        {% if block.settings.customHTML %}
          {{ block.settings.customHTML }}
        {% endif %}

        {% unless block.settings.cta1 == '' %}
          <div class="hero_slide-ctas fade-in">
            <a href="{{ block.settings.url1 }}" class="button button-inverted"
              ><span>{{ block.settings.cta1 }} </span>{% render 'icon', icon: 'arrow' -%}
            </a>
            {% unless block.settings.cta2 == '' %}
              <a href="{{ block.settings.url2 }}" class="button button-inverted"
                ><span>{{ block.settings.cta2 }} </span>{% render 'icon', icon: 'arrow' -%}
              </a>
            {% endunless %}
          </div>
        {% endunless %}
      </div>
    </div>
  {% endfor %}
</hero-carousel>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--hero-carousel",
  "tag": "section",
  "max_blocks": 9,
  "limit": 1,
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Main Media"
        },
        {
          "type": "video",
          "id": "mobile_video",
          "label": "Mobile Video",
          "info": "Recommended: 720x1280 portrait MP4 (H.264), 24-30fps, target <=3 MB."
        },
        {
          "type": "image_picker",
          "id": "mobile_poster",
          "label": "Mobile Cover Image"
        },
        {
          "type": "video",
          "id": "desktop_video",
          "label": "Desktop Video",
          "info": "Recommended: 1920x1080 landscape MP4 (H.264), 24-30fps, target <=8 MB."
        },
        {
          "type": "image_picker",
          "id": "desktop_poster",
          "label": "Desktop Cover Image"
        },
        {
          "type": "url",
          "id": "overlay_url",
          "label": "Overlay Link"
        },
        {
          "type": "header",
          "content": "Slide Content"
        },
        {
          "type": "image_picker",
          "id": "lockup_img",
          "label": "Lockup Image",
          "info": "Try to use an image with a transparent background"
        },
        {
          "type": "range",
          "id": "lockup_width",
          "label": "Lockup Image Width",
          "min": 50,
          "max": 200,
          "step": 5,
          "default": 200,
          "info": "Moves the hotspot along the horizontal axis.",
          "visible_if": "{{  block.settings.lockup_img != blank }}"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Slide Title"
        },
        {
          "type": "select",
          "id": "title_font",
          "label": "Title Font",
          "options": [
            {
              "label": "Normal",
              "value": ""
            },
            {
              "label": "Baskerville",
              "value": "baskerville"
            }
          ]
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Slide Subtitle"
        },
        {
          "type": "select",
          "id": "subtitle_font",
          "label": "Subtitle Font",
          "options": [
            {
              "label": "Normal",
              "value": ""
            },
            {
              "label": "Signature",
              "value": "signature"
            }
          ]
        },
        {
          "type": "checkbox",
          "label": "Subtitle first?",
          "id": "subtitle_first",
          "default": false
        },
        {
          "type": "html",
          "id": "customHTML",
          "label": "Custom HTML"
        },
                {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "center"
        },

        {
          "type": "select",
          "id": "v_align_desk",
          "label": "Content Desktop Vertical Alignment",
          "options": [
            { "label": "Top", "value": "top-desk" },
            { "label": "Middle", "value": "middle-desk" },
            { "label": "Bottom", "value": "bottom-desk" }
          ],
          "default": "bottom-desk"
        },
        {
          "type": "select",
          "id": "v_align_mob",
          "label": "Content Mobile Vertical Alignment",
          "options": [
            { "label": "Top", "value": "top-mob" },
            { "label": "Middle", "value": "middle-mob" },
            { "label": "Bottom", "value": "bottom-mob" }
          ],
          "default": "bottom-mob"
        },
        {
          "type": "header",
          "content": "Slide CTA's"
        },
        {
          "type": "text",
          "id": "cta1",
          "label": "Button 1 CTA"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "Button 1 URL"
        },
        {
          "type": "text",
          "id": "cta2",
          "label": "Button 2 CTA"
        },
        {
          "type": "url",
          "id": "url2",
          "label": "Button 2 URL"
        },
        {
          "type": "header",
          "content": "Gender Preference"
        },
        {
          "type": "select",
          "id": "target_gender",
          "label": "Slide Gender Target",
          "options": [
            {
              "label": "None",
              "value": ""
            },
            {
              "label": "Men's",
              "value": "mens"
            },
            {
              "label": "Women's",
              "value": "womens"
            },
            {
              "label": "Kid's",
              "value": "kids"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Hero Elements",
      "name": "Hero Slideshow",
      "settings": {},
      "blocks": {
        "image_yzGEVe": {
          "type": "image",
          "settings": {
            "overlay_url": "",
            "title": "",
            "subtitle": "",
            "subtitle_font": "",
            "subtitle_first": false,
            "cta1": "Shop Now",
            "url1": "shopify://collections/all",
            "cta2": "",
            "url2": "",
            "target_gender": ""
          }
        }
      },
      "block_order": ["image_yzGEVe"]
    }
  ]
}
{% endschema %}
