<link rel="stylesheet" href="{{ 'plp.min.css' | asset_url }}">


{% if template.type == 'search' %}
{% assign products = search.results %}
{% else %}
  {% assign products = collection.products %}
{% endif %}


{%- paginate products by 24 -%}
  {% if paginate.previous %}
    <div class="previousNav grid-nav max-width accent-bg">
      <a href="{{ paginate.previous.url }}">{% render 'icon', icon: 'arrow', class:"rotate180" %} Go to Previous Page</a>
      <span></span>
      {% if paginate.current_page > 2 %}
        <a href="{{ paginate.parts[0].url }}" class=" first-page">Go to First Page{% render 'icon', icon: 'arrow', class:"rotate-90" %}</a>
      {% endif %}
    </div>
  {% endif %}

  <infinite-scroll class="max-width">
    {%- for product in products -%}
      {% assign lazyload = 'lazy' %}
      {% if forloop.index0 < 5 %}
        {% assign lazyload = 'eager' %}
      {% endif %}
      {% if product.object_type == 'product' %}
        {% comment %} ---- Product Cards ---- {% endcomment %}
        {%- render 'product-card', product: product, loading: lazyload -%}
      {% endif %}
    {%- endfor -%}
  </infinite-scroll>

    {% if paginate.next.is_link %}
      <div id="infinite-trigger" class="grid-nax accent-bg max-width">
        <a href="{{ paginate.next.url }}" class="loading-spinner">Go to Next Page {% render 'icon', icon: 'arrow' %}</a>
      </div>
    {% else %}
      <div id="back-to-top" class="grid-nav accent-bg max-width">
        <a href="#">Back to Top{% render 'icon', icon: 'arrow', class:"rotate-90" %}</a>
      </div>
    {% endif %}

{%- endpaginate -%}

<script type="module" src="{{ 'main-plp.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Product Grid",
  "class": "section--product-grid",
  "settings": []
}
{% endschema %}
