<div class="rtf">
  <div class="center">
    <h1 class="center">{{ collection.title }}</h1>
    <p> {{ collection.products_count }} products</p>
  </div>
  {{ collection.description }}
</div>

{% if collection.all_types.size > 1 %}
  <product-types class="product_type-bar">
    {%- for filter in collection.filters  -%}
      {% if filter.label == 'Product Type' %}
        {% assign sorted_values = filter.values | sort: 'count' | reverse %}
        {% for option in sorted_values %}
          {% if option.count > 0 %}
            <a
              class="splide__slide"
              {% if option.active %}
                href="{{ collection.url }}"
                style="font-weight:700"
              {% else %}
                href="{{ collection.url }}?{{ option.param_name }}={{ option.label }}"
                data-param-name="{{ option.param_name }}" data-param-label="{{ option.label }}"
              {% endif %}
            >
              {{ option.label }}<i>({{ option.count }})</i>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </product-types>
{% endif %}

{% schema %}
{
  "name": "Collection Header",
  "class": "section--collection-header max-width",
  "settings": []
}
{% endschema %}
