{% assign all_tags = product.tags | join: ',' %}
{% if cart.item_count == 0 %}
  {% render 'as-seen-in' %}
{% endif %}

{% if all_tags contains 'productlink:' or  product.metafields['shopify--discovery--product_recommendation'].complementary_products.list?  %}
  <link rel="stylesheet" href="{{ 'complete-the-look.min.css' | asset_url }}">
  {% assign instockcount = 0 %}
  {% assign product_handles = '' %}
  {% if  product.metafields['shopify--discovery--product_recommendation'].complementary_products.list?  %}

    {% for product in product.metafields['shopify--discovery--product_recommendation'].complementary_products.value %}
      {% assign inventory_quantity = 0 %}
      {% for variant in product.variants %}
        {% assign inventory_quantity = inventory_quantity | plus: variant.inventory_quantity %}
      {% endfor %}
      {% if product.available and inventory_quantity > settings.product_buffer %}
        {% assign product_handles = product_handles | append: '+' | append: product.handle %}
        {% assign instockcount = instockcount | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign tag = product.tags | where: 'productlink:' | first %}
    {% assign linked_products = tag | remove: 'productlink:' | split: '+' %}
    {% if linked_products.size >= 1 %}
      {% for linked_product in linked_products %}
        {% for collection in product.collections %}
          {% paginate collection.products by 1000 %}
            {% for product in collection.products %}
              {% assign linked_product_id = linked_product | plus: 0 %}
              {% if product.id == linked_product_id and product.available %}
                {% unless product_handles contains product.handle %}
                  {% assign product_handles = product_handles | append: '+' | append: product.handle %}
                  {% assign instockcount = instockcount | plus: 1 %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endpaginate %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endif %}



  {% if instockcount > 0 and product.type != 'Tracksuit Set' %}
    <div class="accent-bg">
      <h2 class="h1">COMPLETE THE LOOK</h2>
      <productcard-carousel id="completethelook">
        {% assign product_handles = product_handles | remove_first: '+' | split: '+' %}
        {% for handle in product_handles %}
          {%- render 'product-card' with all_products[handle] as product, class: 'splide__slide' -%}
        {% endfor %}
      </productcard-carousel>
      <div id="completethelook--mobile" class="max-width">
        {% for handle in product_handles %}
          {% assign handle_product = all_products[handle] %}
          <div data-price="{{ handle_product.price }}" data-title="{{ handle_product.title }}" data-gender="{{ handle_product.gender }}" data-id="{{ handle_product.id }}" class="completethelook--product">
            <a href="{{ handle_product.url }}" alt="{{ handle_product.title }}">
              {{- handle_product.featured_image | image_url: width: 3250 | image_tag: class: 'completethelook--product-image', widths: '300, 450, 600, 750, 900, 1200, 1800' -}}
            </a>
            <div class="completethelook--product--content">
              <div class="recommendations-pricecontainer">
                {% render 'product-title' with handle_product as product %}
                {% render 'product-price' with handle_product as product %}
              </div>
              <div id="options-{{handle_product.id}}" class="product-options">
                <label for="atc{{handle_product.id}}" class="visually-hidden">Select Size</label>
                <select id="atc{{handle_product.id}}" data-productid="{{handle_product.id}}" class="button product-select" required>
                  {% if handle_product.variants.size == 1 %}
                    One Size
                  {%- else %}
                    <option value="" disabled selected>Select Size</option>
                  {% endif %}
                  {% for variant in handle_product.variants %}
                    {% if variant.inventory_quantity > settings.product_buffer or variant.inventory_policy == 'continue' %}
                      <option
                        {% comment %} START Global-e VAT tag {% endcomment %}
                        {% if variant.taxable == false %}
                          data-product-vat="0"
                        {% endif %}
                        {% if variant.metafields.GlobalE.product_meta != blank %}
                          data-product-meta="{{variant.metafields.GlobalE.product_meta | json | escape}}"
                        {% endif %}
                        {% comment %}END Global-e VAT tag {% endcomment %}
                        value="{{ variant.id }}"
                        data-price="{{variant.price | money_without_trailing_zeros}}"
                      >
                        {% if handle_product.variants.size == 1 %}One Size{% else %}{{ variant.title }}{% endif %}
                      </option>
                    {% else %}
                      <option class="disabled" disabled>{{ variant.title }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <button class="button button-primary atc-btn-contents">Add to Bag</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Complete the Look",
  "class": "section--complete-the-look",
  "settings": []
}
{% endschema %}
