<link rel="stylesheet" href="{{ 'content-mosaic.min.css' | asset_url }}">

<div class="PageContent max-width content-mosaic--wrapper">
  {% for block in section.blocks %}
    {% if block.type == 'grid-item' %}
      <div
        class="content-mosaic--item {% if block.settings.content_placement == 'overlay' %}item-overlay{% elsif block.settings.content_placement == '50' %}item-50{% endif %} {% if block.settings.grid_column_span < block.settings.grid_row_span %}stack-content{% endif %}"
        style="--c-span:{{ block.settings.grid_column_span }};--r-span:{{ block.settings.grid_row_span }};--background:{{ block.settings.bg_color }};--txt-color:{{ block.settings.txt_color }};"
      >
        <div class="content-mosaic--media">
          {% if block.settings.img %}
            {{ block.settings.img | image_url: width: '1200' | image_tag: width: '1200', alt: block.settings.img_alt, class: block.settings.img_transition }}
          {% else %}
            <img src="https://placehold.co/400?text=IMAGE&font=oswald" alt="" height="400" width="400" class="{{ block.settings.img_transition  }}">
          {% endif %}
          {% if block.settings.product != '' and block.settings.product.available %}
            <div class="content-mosaic--product-link flag" style="--colour:var(--c-black;">
              {% render 'icon', icon: 'tag' %}
              {% render 'product-title', product: block.settings.product %}
            </div>
          {% endif %}
        </div>

        {% unless block.settings.content_placement == 'hidden' %}
          <div class="content-mosaic--content">
            <h2 class="emphasis {{ block.settings.heading_size }}">{{ block.settings.title }}</h2>
            {{ block.settings.text }}
            {% if block.settings.cta_text != '' %}
              <a class="button button-primary" style="max-width: 100%;--btn-bg:{{ block.settings.btn_color }}" {% if block.settings.cta_url %}href="{{ block.settings.cta_url }}"{%else%} disabled{% endif %}>{{ block.settings.cta_text }}</a>
            {% endif %}
            {% if block.settings.cta_text2 != '' %}
              <a class="button button-primary" style="max-width: 100%;--btn-bg:{{ block.settings.btn_color2 }}" {% if block.settings.cta_url2  %}href="{{ block.settings.cta_url2 }}"{%else%} disabled{% endif %}>{{ block.settings.cta_text2 }}</a>
            {% endif %}
          </div>
        {% endunless %}

        {% case block.settings.flag %}
          {% when 'best' %}
            {% assign flag_colour = 'var(--c-black)' %}
            {% assign flag_copy = 'Fan Favourite' %}
            {% assign flag_icon = 'star' %}
          {% when 'soon' %}
            {% assign flag_colour = 'var(--c-info)' %}
            {% assign flag_copy = 'Coming Soon' %}
            {% assign flag_icon = 'bell' %}
          {% when 'limited' %}
            {% assign flag_colour = '#701673ff' %}
            {% assign flag_copy = 'Limited Edition' %}
            {% assign flag_icon = 'diamond' %}
          {% when 'legacy' %}
            {% assign flag_colour = '#015b34ff' %}
            {% assign flag_copy = 'From the Archive' %}
            {% assign flag_icon = 'award' %}
        {% endcase %}

        {% unless block.settings.flag == '' %}
          <div class="flag" style="--colour:{{ flag_colour }};">
            {% render 'icon', icon: flag_icon %}
            <span>{{ flag_copy }}</span>
          </div>
        {% endunless %}
      </div>
    {% elsif block.type == 'spacer' %}
      <div class="spacer"></div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Content Mosaic",
  "class": "section--content-mosaic",
  "settings": [],
  "blocks": [
    {
      "type": "grid-item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Item Title"
        },
        {
          "type": "select",
          "options": [
            { "label": "None", "value": "" },
            { "label": "Best Sellers", "value": "best" },
            { "label": "Coming Soon", "value": "soon" },
            { "label": "Limited Edition", "value": "limited" },
            { "label": "From the Archive", "value": "legacy" }
          ],
          "id": "flag",
          "label": "Card Type",
          "default": ""
        },
        {
          "type": "header",
          "content": "Grid Item Size"
        },
        {
          "type": "select",
          "id": "grid_column_span",
          "label": "Item Width",
          "options": [
            { "label": "25%", "value": "1" },
            { "label": "50%", "value": "2" },
            { "label": "75%", "value": "3" },
            { "label": "100%", "value": "4" }
          ],
          "default": "1"
        },
        {
          "type": "select",
          "id": "grid_row_span",
          "label": "Item Height",
          "options": [
            { "label": "100%", "value": "1" },
            { "label": "200%", "value": "2" }
          ],
          "default": "1"
        },
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "img_alt",
          "label": "Image Alt Text",
          "visible_if": "{{ block.settings.img != null }}",
          "info": "alt text for the image SEO"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "select",
          "id": "img_transition",
          "label": "Image Transition Style",
          "options": [
            { "label": "Normal", "value": "normal" },
            { "label": "Fade In", "value": "img-mask" }
          ],
          "default": "normal"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_placement",
          "label": "Content Placement",
          "options": [
            { "label": "Overlay", "value": "overlay" },
            { "label": "Split", "value": "50" },
            { "label": "None", "value": "hidden" }
          ],
          "default": "hidden"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading Size",
          "options": [
            { "label": "H1", "value": "h1" },
            { "label": "H2", "value": "h2" },
            { "label": "H3", "value": "h3" },
            { "label": "H4", "value": "h4" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "visible_if": "{{ block.settings.content_placement != 'hidden' }}"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#f6f6f6",
          "visible_if": "{{ block.settings.content_placement != 'hidden' }}"
        },
        {
          "type": "color",
          "id": "txt_color",
          "label": "Text Color",
          "default": "#1b1b1b",
          "visible_if": "{{ block.settings.content_placement != 'hidden' }}"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text",
          "default": "Shop Now",
          "visible_if": "{{ block.settings.content_placement != 'hidden' }}"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA URL",
          "visible_if": "{{ block.settings.cta_text != '' }}"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button Color",
          "default": "#1b1b1b",
          "visible_if": "{{ block.settings.cta_text != '' }}"
        },
        {
          "type": "text",
          "id": "cta_text2",
          "label": "CTA 2 Text",
          "visible_if": "{{ block.settings.content_placement != 'hidden' }}"
        },
        {
          "type": "url",
          "id": "cta_url2",
          "label": "CTA 2 URL",
          "visible_if": "{{ block.settings.cta_text2 != '' }}"
        },
        {
          "type": "color",
          "id": "btn_color2",
          "label": "Button 2 Color",
          "default": "#eee",
          "visible_if": "{{ block.settings.cta_text2 != '' }}"
        }
      ]
    },
    { "type": "spacer", "name": "Spacer", "settings": [] }
  ],
  "presets": [
    {
      "name": "Content Mosaic",
      "category": "Content",
      "blocks": {
        "grid_item_HttinP": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "4",
            "grid_row_span": "2",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "best",
            "cta_url": ""
          }
        },
        "grid_item_pjrnWd": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "2",
            "grid_row_span": "2",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "soon",
            "cta_url": ""
          }
        },
        "grid_item_e3qjVp": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "2",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "limited",
            "cta_url": ""
          }
        },
        "grid_item_6JNirK": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "legacy",
            "cta_url": ""
          }
        },
        "grid_item_6NijUc": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "legacy",
            "cta_url": ""
          }
        },
        "grid_item_bzcQ48": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "4",
            "grid_row_span": "1",
            "bg_color": "#ffffff",
            "img_alt": "",
            "flag": "best",
            "cta_url": ""
          }
        },
        "grid_item_8aCnLh": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "",
            "cta_url": ""
          }
        },
        "grid_item_mMz6gh": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "",
            "cta_url": ""
          }
        },
        "grid_item_KiFXzt": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "",
            "cta_url": ""
          }
        },
        "grid_item_dVRfUD": {
          "type": "grid-item",
          "settings": {
            "grid_column_span": "1",
            "grid_row_span": "1",
            "bg_color": "#f6f6f6",
            "img_alt": "",
            "flag": "",
            "cta_url": ""
          }
        }
      },
      "block_order": ["grid_item_HttinP", "grid_item_pjrnWd", "grid_item_e3qjVp", "grid_item_6JNirK", "grid_item_6NijUc", "grid_item_bzcQ48", "grid_item_8aCnLh", "grid_item_mMz6gh", "grid_item_KiFXzt", "grid_item_dVRfUD"]
    }
  ]
}
{% endschema %}
