{{ 'content-grid.min.css' | asset_url | stylesheet_tag }}
<div class="PageContent content-grid--wrapper{% unless section.settings.full_width %} max-width{% endunless %}  {% if section.settings.grid_style == 'carousel' %}carousel{% endif %}">
  {% for block in section.blocks %}
    <div class="grid-row splide__slide">
      {% if block.settings.image or block.settings.video %}
        <div class="content-grid--media-cell" style="{%- if block.settings.rtf == "" and block.settings.use_html == false -%}grid-column: span 2;{%- endif -%}">
          {% if block.settings.img_style == 'square' %}
            {% assign aspect_ratio = '1 / 1' %}
          {% else %}
            {% assign aspect_ratio = block.settings.image.aspect_ratio %}
          {% endif %}
          {% assign fit_type = 'object-fit:' | append: block.settings.image_style | append: ';aspect-ratio:' | append: aspect_ratio | append: ';overflow:hidden;' %}
          <div class="media-wrapper" style="padding:{{ block.settings.image_padding }}rem;">
            {{ block.settings.image | image_url: width: 600 | image_tag: style: fit_type }}
            {% if block.settings.video %}
              <custom-video-controls>
                {% if block.settings.image %}
                  {{ block.settings.video | video_tag: style: fit_type, poster: block.settings.image, controls: true }}
                {% else %}
                  {{ block.settings.video | video_tag: style: fit_type, controls: true }}
                {% endif %}
              </custom-video-controls>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if block.settings.rtf != '' or block.settings.use_html %}
        <div
          class="content-grid--content-cell rtf text-align--{{ block.settings.text_align }}"
          style="order:{{ block.settings.grid_order }};color: {{ block.settings.txt_color }};padding:5vw;"
        >
          {% if block.settings.show_quote %}
            <blockquote
              {% unless block.settings.quote_author == blank %}
                data-quote-attribution="- {{  block.settings.quote_author }}"
              {% endunless %}
              {% if section.settings['background-image'] %}
                class="contrast"
              {% endif %}
            >
              {{ block.settings.quote_text }}
            </blockquote>
          {% endif %}
          {{ block.settings.rtf }}
          {% if block.settings.use_html %}
            {{ block.settings.html }}
          {% endif %}
          {% if block.settings.show_button %}
            <a href="{{ block.settings.cta_url }}" class="button button-primary">{{ block.settings.cta_text }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% if section.settings.grid_style == 'carousel' %}
  <script type="module">
    import { SplideUtil } from '{{ "SplideUtil.js" | asset_url }}';
    let slideCount = document.querySelector('#shopify-section-{{ section.id }} .carousel').querySelectorAll('.splide__slide').length;
    if (slideCount > 1) {
      SplideUtil.splideInit('#shopify-section-{{ section.id }} .carousel', {
        type: 'loop',
        pagination: true,
        arrows: false,
        autoplay: true,
        interval: 4500,
        speed: 1000,
        pauseOnHover: true,
      });
    }
  </script>
{% endif %}

<style>
  #shopify-section-{{ section.id }} .grid-row {
    background-color:{{ section.settings.bg_color }};
  }
</style>

{% schema %}
{
  "name": "Content Grid",
  "class": "section--content-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_accent",
      "label": "Accent Background?",
      "info": "Use an accent background colour or image for this block",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "visible_if": "{{ section.settings.is_accent == true }}"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Use Full Width?",
      "info": "Choose whether to constain content to the narrow rich text width or use all available screen width",
      "default": false
    },
    {
      "type": "select",
      "id": "grid_style",
      "label": "Grid Style",
      "options": [
        { "label": "Stacked", "value": "standard" },
        { "label": "Carousel", "value": "carousel" }
      ],
      "default": "standard"
    }
  ],
  "blocks": [
    {
      "type": "grid-item",
      "name": "Grid Row",
      "settings": [
        {
          "type": "header",
          "content": "Grid Item Settings"
        },
        {
          "type": "select",
          "id": "grid_order",
          "label": "Row Order",
          "options": [
            { "label": "Media Left", "value": "0" },
            { "label": "Media Right", "value": "-1" }
          ]
        },
        {
          "type": "header",
          "content": "Media Grid Item"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "*Optional"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "img_style",
          "label": "Image Style",
          "options": [
            { "label": "Natural", "value": "natural" },
            { "label": "Square", "value": "square" }
          ],
          "default": "natural"
        },
        {
          "type": "select",
          "id": "image_style",
          "label": "Image Fit",
          "options": [
            { "label": "Fill", "value": "cover" },
            { "label": "Fit", "value": "contain" }
          ],
          "default": "cover",
          "visible_if": "{{ block.settings.img_style == 'square' }}"
        },
        {
          "type": "header",
          "content": "Text Grid Item"
        },
        {
          "type": "richtext",
          "id": "rtf",
          "label": "Paragraph Text",
          "default": "<p>Add rich text content here.</p>"
        },
        {
          "type": "color",
          "id": "txt_color",
          "label": "Text Color"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Align",
          "info": "Which side to display the media cell on desktop",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "left"
        },
        { "type": "checkbox", "id": "use_html", "label": "Add Custom HTML?", "default": false },
        {
          "type": "html",
          "id": "html",
          "label": "Custom HTML",
          "default": "<p>Add custom HTML content here.</p>",
          "visible_if": "{{ block.settings.use_html == true }}"
        },
        { "type": "checkbox", "id": "show_quote", "label": "Show a quote?", "default": false },
        {
          "type": "text",
          "id": "quote_text",
          "label": "Quote Text",
          "default": "This is a sample quote.",
          "visible_if": "{{ block.settings.show_quote == true }}"
        },
        {
          "type": "text",
          "id": "quote_author",
          "label": "Author",
          "default": "Author Name",
          "visible_if": "{{ block.settings.show_quote == true }}"
        },
        { "type": "checkbox", "id": "show_button", "label": "Show a button?", "default": false },
        { "type": "text", "id": "cta_text", "label": "Button Text", "visible_if": "{{ block.settings.show_button == true }}" },
        { "type": "url", "id": "cta_url", "label": "Button Link", "visible_if": "{{ block.settings.show_button == true }}" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Grid",
      "category": "Content"
    }
  ]
}
{% endschema %}
