{% schema %}
{
  "name": "Content Grid",
  "class": "section--content-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_accent",
      "label": "Accent Background?",
      "info": "Use an accent background colour or image for this block",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "visible_if": "{{ section.settings.is_accent == true }}"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Use Full Width?",
      "info": "Choose whether to constain content to the narrow rich text width or use all available screen width",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "grid-item",
      "name": "Grid Row",
      "settings": [
        {
          "type": "header",
          "content": "Grid Item Settings"
        },
        {
          "type": "select",
          "id": "order",
          "label": "Media Side",
          "info": "Which side to display the media cell on desktop",
          "options": [
            { "label": "Left", "value": "1" },
            { "label": "Right", "value": "2" }
          ]
        },
        {
          "type": "header",
          "content": "Media Grid Item"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "img_style",
          "label": "Image Style",
          "options": [
            { "label": "Natural", "value": "" },
            { "label": "Square", "value": "square" },
            { "label": "Round", "value": "round" }
          ],
          "default": ""
        },
        {
          "type": "video",
          "id": "hosted_video",
          "label": "Hosted Video"
        },
        {
          "type": "video_url",
          "id": "linked_video",
          "label": "Linked Youtube Video",
          "accept": ["youtube"]
        },
        {
          "type": "header",
          "content": "Text Grid Item"
        },
        {
          "type": "richtext",
          "id": "richtext_content",
          "label": "Paragraph Text",
          "default": "<p>Add rich text content here.</p>"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "text-align",
          "info": "Which side to display the media cell on desktop",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" }
          ],
          "default": "left"
        },
        { "type": "checkbox", "id": "show_quote", "label": "Show a quote?", "default": false },
        {
          "type": "text",
          "id": "quote_text",
          "label": "Quote Text",
          "default": "This is a sample quote.",
          "visible_if": "{{ block.settings.show_quote == true }}"
        },
        {
          "type": "text",
          "id": "quote_author",
          "label": "Author",
          "default": "Author Name",
          "visible_if": "{{ block.settings.show_quote == true }}"
        },
        { "type": "checkbox", "id": "show_button", "label": "Show a button?", "default": false },
        { "type": "text", "id": "cta_text", "label": "Button Text", "visible_if": "{{ block.settings.show_button == true }}" },
        { "type": "url", "id": "cta_url", "label": "Button Link", "visible_if": "{{ block.settings.show_button == true }}" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Grid",
      "category": "Content"
    }
  ]
}
{% endschema %}
