<link rel="stylesheet" href="{{ 'customer.min.css' | asset_url }}">

<header>
  <a href="{{ routes.account_logout_url }}" class="inline-flex" style="width:100%;justify-content:flex-end">
    {% render 'icon', icon: 'plus', class: 'rotate45' %}
    {{- 'customer.account.logout' | t -}}
  </a>

  <div>
    <h1>
      {% if customer.first_name %}
        <span class="signature">{{ customer.first_name }}'s</span>
      {%- else -%}
        Your
      {%- endif %}
      Account
    </h1>
    <div class="yotpo-widget-instance" data-yotpo-instance-id="1138809"></div>
  </div>
</header>

<ul class="account-links">
  <li>
    <a class="button button-primary" href="/pages/about-us?view=built-for-you">{% render 'icon', icon: 'edit' %} Built for You</a>
  </li>
  <li>
    <a class="button button-secondary" href="{{  collections['all'].url }}">Go Shopping {% render 'icon', icon: 'arrow' %}</a>
  </li>
  <li>
    <a class="button button-secondary" href="/apps/iwish">
      <span>{% render 'icon', icon: 'heart' %}</span>Your Wishlist
    </a>
  </li>
  <li>
    <a class="button button-secondary" href="#order-history">{% render 'icon', icon: 'truck' %}Your Orders</a>
  </li>
  <li>
    <a class="button button-secondary" href="{{ routes.account_addresses_url }}">{% render 'icon', icon: 'pin' %}Your Addresses </a>
  </li>
  <li>
      {% if customer.tags contains 'Active Subscriber' %}
      <a class="button button-secondary" href="/tools/recurring/login">{% render 'icon', icon: 'giftcard' %}Your Unlimited Shipping Subscription</a>
      {% else %}
      <a class="button button-secondary" href="/products/unlimited-uk-delivery">{% render 'icon', icon: 'giftcard' %}Get Unlimited UK Shipping </a>
    {% endif %}
    </li>
  <li>
    <a class="button button-secondary" href="/pages/rewards">{% render 'icon', icon: 'crown' %}Loyalty Club</a>
  </li>
  <li>
    <a class="button button-secondary" href="/pages/refer-a-friend">{% render 'icon', icon: 'handshake' %}Refer a Friend</a>
  </li>
  <li>
    <a class="button button-secondary" href="https://www.surveymonkey.com/r/8R6N2NP" target="_blank">{% render 'icon', icon: 'feedback' %}Leave Feedback </a>
  </li>
</ul>

<div class="account-details">
  {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    ORDER HISTORY
    --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="order-history">
    {%- if customer.orders_count == 0 -%}
      <h2 class="h4 left">{{ 'customer.account.no_orders_title' | t }}</h2>
      <p>{{ 'customer.account.no_orders_content' | t }}</p>
    {%- else -%}
      <h2 class="h4 left">Your Orders ({{ customer.orders_count }})</h2>

      {% comment %}
        {%- paginate customer.orders by 25 -%}
          <div class="TableWrapper">
            <table>
              <thead>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th class="Text--alignRight">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>

              <tbody>
                {%- for order in customer.orders -%}
                  <tr>
                    <td>
                      <a ge-order-list-id href="{{ order.customer_url }}" class="Link Link--underline">
                        {{- order.name -}}
                      </a>
                    </td>
                    <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td>{{ order.financial_status_label }}</td>
                    <td>{{ order.fulfillment_status_label }}</td>
                    <td ge-order-list-total class="Text--alignRight">
                      {{ order.total_price | money_without_trailing_zeros }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {%  for item in order.line_items limit: 6 %}
                        {{ item.product.title }}
                      {% endfor %}
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>

          {% if paginate.pages > 1 %}
            <div class="pagination-nav">
              {%- if paginate.previous -%}
                <a class="button button-secondary" rel="prev" title="{{ 'general.pagination.previous_page' | t }}" href="{{ paginate.previous.url | remove: 'view=ajax' }}">
                  {%- render 'icon', icon: 'arrow', class: 'rotate180' -%}
                  previous
                </a>
              {%- endif -%}

              {%- if paginate.next -%}
                <a class="button button-secondary" rel="prev" title="{{ 'general.pagination.previous_page' | t }}" href="{{ paginate.next.url | remove: 'view=ajax' }}">
                  next
                  {%- render 'icon', icon: 'arrow' -%}
                </a>
              {%- endif -%}
            </div>
          {% endif %}
        {%- endpaginate -%}
      {% endcomment %}
      {%- paginate customer.orders by 5 -%}
        {% for order in customer.orders limit: 5 %}
          {% case order.fulfillment_status %}
            {% when 'unfulfilled' %}
              {% assign fulfilment_status = 'warning' %}
            {% when 'partial' %}
              {% assign fulfilment_status = 'warning' %}
            {% when 'fulfilled' %}
              {% assign fulfilment_status = 'success' %}
          {% endcase %}

          {% case order.financial_status %}
            {% when 'expired', 'unpaid ' %}
              {% assign paid_status = 'warning' %}
            {% when 'partially_paid', 'pending' %}
              {% assign paid_status = 'info' %}
            {% when 'paid', 'authorized' %}
              {% assign paid_status = 'success' %}
          {% endcase %}


          <div class="customer-order">
            <div class="customer-order--header">
              <div class="customer-order--name">
                <a ge-order-list-id href="{{ order.customer_url }}">
                  {{- order.name -}}
                </a>
                |
                <span ge-order-list-total>
                  <b>
                    {%- if order.total_price == 0 %}FREE{% else %}{{ order.total_price | money_without_trailing_zeros }}{% endif -%}
                  </b>
                </span>
                | {{ order.created_at | date: format: 'month_day_year' -}}
              </div>
              <div class="customer-order--meta">
                <span class="{{ paid_status }}">{{ order.financial_status_label }}</span> <span class="{{ fulfilment_status }}">{{ order.fulfillment_status_label }}</span>
                <a ge-order-list-id href="{{ order.customer_url }}" class="inline-flex details-link"> full details {% render 'icon', icon: 'arrow' %} </a>
              </div>
            </div>
            <div class="customer-order--products">
              {% for item in order.line_items %}
                <div class="customer-order--product">
                  {% render 'product-title', product: item.product %}
                  {{ item.product.featured_image | image_url: width: 500 | image_tag }}
                  {% if item.product.available %}
                    <div class="customer-order--product-buttons">
                      <a href="{{ item.product.url }}#yotpo-main-widget" class="button button-inverted button-full">{% render 'icon', icon: 'star' %} leave review</a>
                      <a href="{{ item.product.url }}" class="button button-secondary button-full"> buy again {% render 'icon', icon: 'arrow' %} </a>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
          <div class="pagination-nav">
            {%- if paginate.previous -%}
              <a class="button button-secondary" rel="prev" title="{{ 'general.pagination.previous_page' | t }}" href="{{ paginate.previous.url | remove: 'view=ajax' }}">
                {%- render 'icon', icon: 'arrow', class: 'rotate180' -%}
                previous
              </a>
            {%- endif -%}

            {%- if paginate.next -%}
              <a class="button button-secondary" rel="next" title="{{ 'general.pagination.next_page' | t }}" href="{{ paginate.next.url | remove: 'view=ajax' }}">
                more orders
                {%- render 'icon', icon: 'arrow' -%}
              </a>
            {%- endif -%}
          </div>
        {% endif %}
      {% endpaginate %}
    {%- endif -%}
  </div>

  {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    ADDRESS
    --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {% comment %}
    <div id="saved Addresses">
      {%- if customer.addresses_count == 0 -%}
        <h2 class="Segment__Title Heading u-h7">{{ 'customer.account.no_addresses_title' | t }}</h2>

        <div class="Segment__Content">
          <p>{{ 'customer.account.no_addresses_content' | t }}</p>
          <hr>
          <a href="{{ routes.account_addresses_url }}" class="inline-flex">
            {{- 'customer.account.manage_addresses' | t -}}
            {% render 'icon', icon: 'arrow' %}
          </a>
        </div>
      {%- else -%}
        <h2 class="h4 left">{{ 'customer.account.default_address' | t }}</h2>

        <div class="rtf">
          {{ customer.default_address | format_address }}
          <hr>
          <a href="{{ routes.account_addresses_url }}" class="inline-flex">
            {{- 'customer.account.edit_addresses' | t -}}
            {% render 'icon', icon: 'arrow' %}
          </a>
        </div>
      {%- endif -%}
    </div>
  {% endcomment %}
</div>

<br>
<br>
<hr>
<div class="yotpo-widget-instance" data-yotpo-instance-id="1153784"></div>
<a href="/pages/rewards" class="button button-primary" style="margin: 20px auto;margin: 20px auto;display: block;max-width: 500px;width: 90%;"> Find out more about our Loyalty Club </a>

{% schema %}
{
  "name": "Main Account",
  "class": "section--main-account section--account max-width",
  "settings": []
}
{% endschema %}
