<link rel="stylesheet" href="{{ 'customer.min.css' | asset_url }}">

{% comment %} <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/Gym_King_Logo-whitebg.png?v=1753428715" alt="" width="80" height="80" class="roundel"> {% endcomment %}

{%- form 'create_customer', name: 'create_customer' id: 'create_customer', class: 'customer-form' -%}
  <h1>{{ 'customer.register.title' | t }}</h1>
  {% comment %} <p>{{ 'customer.register.description' | t }}</p> {% endcomment %}

  {%- if form.errors -%}
    <div class="warnining">
      <ul class="Alert__ErrorList">
        {%- for field in form.errors -%}
          {%- if field == 'form' -%}
            <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
          {%- else -%}
            <li class="Alert__ErrorItem">
              <strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
  <div class="Form__Item">
    <input type="email" class="Form__Input" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required" autofocus>
    <label>{{ 'customer.register.email' | t }}</label>
  </div>

  <div class="Form__Item">
    <input type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}">
    <label>{{ 'customer.register.first_name' | t }}</label>
  </div>

  <div class="Form__Item">
    <input type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required="required">
    <label>{{ 'customer.register.password' | t }}</label>
  </div>

  <label style="margin-bottom:1em;display:block" class="button-full">
    <input type="checkbox" name="customer[accepts_marketing]" value="true" id="marketing">
    I’d like to receive email updates with exclusive offers, new launches and exclusive early access.
  </label>

  {% comment %} put hidden elements for two-step sign up here {% endcomment %}

  <button type="submit" class="button button-primary button-full">{{ 'customer.register.submit' | t }}</button>

  <p>
    Already have an account?
    <br>
    <a href="{{ routes.account_login_url }}" class="inline-flex">
      {{- 'customer.login.submit' | t }}
      {% render 'icon', icon: 'arrow' -%}
    </a>
  </p>
{%- endform -%}

{% schema %}
{
  "name": "Main register",
  "class": "section--main-register max-width",
  "settings": []
}
{% endschema %}
