<link rel="stylesheet" href="{{ 'customer.min.css' | asset_url }}">

{%- assign is_recover_active = false -%}

{%- form 'recover_customer_password' -%}
  {%- if form.errors or form.posted_successfully? -%}
    {%- assign is_recover_active = true -%}
  {%- endif -%}
{%- endform -%}

{%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  CUSTOMER LOGIN FORM
  --------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{% comment %} <img src="https://cdn.shopify.com/s/files/1/1659/8997/files/Gym_King_Logo-whitebg.png?v=1753428715" alt="" width="80" height="80" class="roundel"> {% endcomment %}

<div class="form-wrapper">
  {% comment %} LOGIN FORM {% endcomment %}
  {%- if is_recover_active -%}
    {%- assign classes = 'login-form customer-form fade-in' -%}
  {%- else -%}
    {%- assign classes = 'login-form fade-in active customer-form' -%}
  {%- endif -%}

  {%- form 'customer_login', name: 'login', class: classes -%}
    <h1>{{ 'customer.login.title' | t }}</h1>

    {%- if form.errors -%}
      <div class="error">
        {{- form.errors.messages.form -}}
      </div>
    {%- endif -%}

    <div class="Form__Item">
      <input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
      <label for="customer[email]">{{ 'customer.login.email' | t }}</label>
    </div>

    <div class="Form__Item">
      <input type="password" class="Form__Input" name="customer[password]" required="required" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">
      <label for="customer[password]">{{ 'customer.login.password' | t }}</label>
      <a href="#recover" type="button" class="a forgot-button" data-action="toggle-recover-form">{{ 'customer.login.forgot' | t }}</a>
    </div>

    <button type="submit" class="button button-primary button-full">{{ 'customer.login.submit' | t }}</button>
  {%- endform -%}
  <div class="max-width">
    <div class="rtf" style="width: min(100%, 400px);">
      <p class="h3 emphasis" style="letter-spacing:normal;">
        {{ 'customer.login.register_label' | t -}}
      </p>
        <ul style="text-align:left">
          <li>Manage your details</li>
          <li>Track your orders</li>
          <li>View your order history</li>
          <li>Earn reward points on your purchases</li>
        </ul>
        <br>
        <a href="{{ routes.account_register_url }}" class="inline-flex">
          {{- 'customer.login.register_link' | t }}
          {% render 'icon', icon: 'arrow' -%}
        </a>

    </div>
  </div>

  {% comment %} RECOVERY FORM {% endcomment %}

  {%- if is_recover_active -%}
    {%- assign classes = 'recover-form customer-form fade-in active' -%}
  {%- else -%}
    {%- assign classes = 'recover-form customer-form fade-in' -%}
  {%- endif -%}

  {%- form 'customer_login', name: 'login', class: classes, id: 'recover' -%}
    <h1>{{ 'customer.recover_password.title' | t }}</h1>

    {%- if form.errors -%}
      <div class="error">
        {{- form.errors.messages.form -}}
      </div>
    {%- endif -%}

    {%- if form.posted_successfully? -%}
      <p class="Form__Alert Alert Alert--success">
        {{- 'customer.recover_password.success' | t -}}
      </p>
    {%- endif -%}

    <div class="Form__Item">
      <input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
      <label for="customer[email]">{{ 'customer.login.email' | t }}</label>
    </div>

    <button type="submit" class="button button-primary button-full">{{ 'customer.recover_password.submit' | t }}</button>

    <p>
      {{ 'customer.recover_password.login_label' | t -}}
      <br>
      <a href="{{ routes.account_register_url }}" class="forgot-button inline-flex">
        {% render 'icon', icon: 'arrow', class: 'rotate180' -%}
        {{- 'customer.recover_password.login_link' | t }}
      </a>
    </p>
  {%- endform -%}
</div>

{% javascript %}
  const recoverForm = document.querySelector('.recover-form');
  const loginForm = document.querySelector('.login-form');
  const forgotButton = document.querySelectorAll('.forgot-button');
  forgotButton.forEach((button) => {
    button.addEventListener('click', switchForms);
  });

  function switchForms(event) {
    event.preventDefault();
    recoverForm.classList.toggle('active');
    loginForm.classList.toggle('active');
  }

  const buttons = document.querySelectorAll('button[type="submit"]');
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      button.style.background = 'var(--clr-grey)';
      button.innerHTML = '<div class="loader" style="--height:1em;z-index:1;backdrop-filter: invert(1)"></div>';
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Main Login",
  "class": "section--main-login max-width",
  "settings": []
}
{% endschema %}
