
{% if section.settings.show_signup and template.name != 'collection' and template.directory!= 'customers' and customer.accepts_marketing == false%}
  <div class="max-width footer-signup">
    <div class="form-header">
      <h2 class="emphasis left" style="margin-top:0;">{{ section.settings.signup_title }}</h2>
      <p>{{ section.settings.signup_cta }}</p>
    </div>

    <ometria-form>
      <form action="https://api.ometria.com/forms/signup" method="post">
        {% comment %} OMETRIA FIELDS {% endcomment %}
        <input class="ometria-push" type="hidden" name="__form_id" value="{{ formId | default: 'ad1254b0165617d1cf8a0d4e4dcfc2e6' }}">
        <input class="ometria-push" type="hidden" name="email" value="" autocomplete="off">
        <div style="display:none !important">
          <input class="ometria-push" name="__email" type="email" value="" autocomplete="off">
        </div>
        <input class="ometria-push" name="@account" type="hidden" value="f647cb688e2297ba">
        <input class="ometria-push" name="@return_url" type="hidden" value="">
        <input class="ometria-push" name="@subscription_status" type="hidden" value="SUBSCRIBED">
        <input class="ometria-push" name="properties.sign_up_source" type="hidden" value="footer form">
        <input class="ometria-push" type="hidden" name="gender" value="" id="newsletter[gender]">
        {% comment %} END OMETRIA FIELDS {% endcomment %}
        <div class="Form__Item">
          <input
            name="ue"
            id="newsletter[email]"
            type="email"
            class="ometria-push Form__Input"
            name="customer[email]"
            required="required"
            placeholder="Email"
            aria-label="{{ 'customer.login.email' | t }}"
            autocorrect="off"
            autocapitalize="off"
          >
          <label for="newsletter[email]">Email</label>
        </div>
        <div class="input-group-btn">
          <button type="submit" data-gender="Other" class="gender-submit-button button button-primary" name="commit" id="newsleter[other]">All Mail</button>
          <button type="submit" data-gender="Male" class="gender-submit-button button button-primary" name="commit" id="newsletter[male]">Men's News</button>
          <button type="submit" data-gender="Female" class="gender-submit-button button button-primary" name="commit" id="newsletter[female]">Women's News</button>
        </div>
      </form>
    </ometria-form>
    <small>By submitting your email address, you agree to receive marketing emails from Gym King. We may use information collected about you on our site to suggest other products and offers based on your profile and in accordance with our <a href="/pages/privacy">Privacy Policy</a>. You can unsubscribe at any time. View our <a href="/pages/terms-and-conditions">Terms & Conditions</a> for more information on the processing of your data and your privacy rights.</small>
  </div>
{% endif %}

<div class="footer-container max-width">
  <div class="footer-socials">
    {% render 'socials' %}
    <span>@GYMKING</span>
    {% if section.settings['footer-logo'] %}
      {{ section.settings['footer-logo'] | image_url: width: 300 | image_tag: class: 'footer-logo' }}
    {% endif %}
  </div>

  <content-accordian>
    {% for i in (1..4) %}
      {% assign menu = 'menu-' | append: i %}
      {% assign menu = section.settings[menu] %}
      <div class="accordian-item item-{{ i }}">
        <div class="accordian-header" aria-controls="accordian-content-{{ i }}" role="button" tabindex="0" aria-label="open acordian section No.{{ i }}">{{ menu.title }}</div>
        <ul class="accordian-content" id="accordian-content-{{ i }}">
          {% for link in menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </content-accordian>
</div>

{% if section.settings.seo_copy and template == 'index' %}
  <div id="organisation" class="meta-description rtf max-width">{{ section.settings.seo_copy }}</div>
{% endif %}
<div class="max-width">
  {% render 'trust-widget' with 'carousel' %}
  <div class="sub-footer">
    <div class="countrydesktop" aria-label="Country selector">{%- render 'country-switcher' -%}</div>
    {% render 'payment-icons' %}
  </div>
</div>

<div class="footer-copyright">
  <p class="footer-author">© {{ 'now' | date: '%Y' }} GYM KING LIMITED IS A LIMITED COMPANY REGISTERED IN ENGLAND WITH REGISTERED NUMBER 09476649. VAT REGISTRATION: GB211871333</p>
</div>
{% schema %}
{
  "name": "Footer",
  "class": "section--footer",
  "limit": 1,
  "tag": "footer",
  "settings": [
    { "type": "paragraph", "content": "Menus in the footer will only display top level links" },
    {
      "type": "link_list",
      "id": "menu-1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "menu-2",
      "label": "Menu 2"
    },
    {
      "type": "link_list",
      "id": "menu-3",
      "label": "Menu 3"
    },
    {
      "type": "link_list",
      "id": "menu-4",
      "label": "Menu 4"
    },
    {
      "type": "richtext",
      "id": "seo_copy",
      "label": "Site Meta Description"
    },
    {
      "type": "image_picker",
      "id": "footer-logo",
      "label": "footer_logo"
    },
    {
      "type": "header",
      "content": "Signup Form"
    },
    {
      "type": "checkbox",
      "id": "show_signup",
      "label": "Show Signup Form",
      "default": true
    },
    {
      "type": "text",
      "id": "signup_title",
      "label": "Signup Title",
      "default": "Sign up to our newsletter",
      "visible_if": "{{ section.settings.show_signup }}"
    },
    {
      "type": "text",
      "id": "signup_cta",
      "label": "Signup CTA",
      "default": "Subscribe for the latest news, offers and launches.",
      "visible_if": "{{ section.settings.show_signup }}"
    }
  ]
}
{% endschema %}
