<h3>{{ section.settings.title | default: "Shop by Category" }}</h3>

<div class="gender-wrapper">
  <div class="loader grid-loader gender-loader"></div>
  {% if section.settings.gendered %}
    <div id="womens-categories" class="womens-gender-filter fade-in">
      <h4 class="no-gender-filter">WOMENS</h4>
      <div class="category-grid shop-by-category">
        {% for i in (1..4) %}
          {% assign img = 'img' | append: i | append: 'w' %}
          {% assign url = 'url' | append: i | append: 'w' %}
          {% assign txt = 'bold' | append: i | append: 'w' %}
          <div class="categorylink {% if section.settings[img] != blank %}img-overlay{%else%}button button-primary {% endif %}">
        {% if section.settings[img] != blank %}  {{
            section.settings[img]
            | image_url: width: 800
            | image_tag:
              loading: 'lazy',
              sizes: '(min-width: 1000px) 25vw, 50vw',
              widths: '190, 390, 540, 780, 960, 1280'
          }}
        {% endif %}
            {% if section.settings[txt] %}
              <a class="categorytitle emphasis" href="{{ section.settings[url] }}">{{ section.settings[txt] }}</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div id="mens-categories" class="mens-gender-filter fade-in">
    {% if section.settings.gendered %}
      <h4 class="no-gender-filter">MENS</h4>
    {% endif %}
    <div class="category-grid shop-by-category">
      {% for i in (1..4) %}
        {% assign img = 'img' | append: i | append: 'm' %}
        {% assign url = 'url' | append: i | append: 'm' %}
        {% assign txt = 'bold' | append: i | append: 'm' %}
          <div class="categorylink {% if section.settings[img] != blank %}img-overlay{%else%}button button-primary{% endif %}">
        {% if section.settings[img] != blank %}  {{
            section.settings[img]
            | image_url: width: 800
            | image_tag:
              loading: 'lazy',
              sizes: '(min-width: 1000px) 25vw, 50vw',
              widths: '190, 390, 540, 780, 960, 1280'
          }}
        {% endif %}
          {% if section.settings[txt] %}
            <a class="categorytitle emphasis" href="{{ section.settings[url] }}">{{ section.settings[txt] }}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<link rel="stylesheet" href="{{ 'gender-categories.min.css' | asset_url }}">
{% schema %}
{
  "name": "Shop by Category",
  "class": "section--gender-categories max-width entry-animation",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "gendered",
      "label": "Show both genders?",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Add info to Title",
      "info": "'Shop' {X} 'by Category'"
    },
    {
      "type": "image_picker",
      "id": "img1m",
      "label": "Men's Box 1: Image"
    },

    {
      "type": "text",
      "id": "bold1m",
      "label": "Men's Box 1: Bold"
    },

    {
      "type": "url",
      "id": "url1m",
      "label": "Men's Box 1: URL"
    },

    {
      "type": "image_picker",
      "id": "img2m",
      "label": "Men's Box 2: Image"
    },

    {
      "type": "text",
      "id": "bold2m",
      "label": "Men's Box 2: Bold"
    },

    {
      "type": "url",
      "id": "url2m",
      "label": "Men's Box 2: URL"
    },

    {
      "type": "image_picker",
      "id": "img3m",
      "label": "Men's Box 3: Image"
    },

    {
      "type": "text",
      "id": "bold3m",
      "label": "Men's Box 3: Bold"
    },

    {
      "type": "url",
      "id": "url3m",
      "label": "Men's Box 3: URL"
    },

    {
      "type": "image_picker",
      "id": "img4m",
      "label": "Men's Box 4: Image"
    },

    {
      "type": "text",
      "id": "bold4m",
      "label": "Men's Box 4: Bold"
    },

    {
      "type": "url",
      "id": "url4m",
      "label": "Men's Box 4: URL"
    },

    {
      "type": "image_picker",
      "id": "img1w",
      "label": "Women's Box 1: Image"
    },

    {
      "type": "text",
      "id": "bold1w",
      "label": "Women's Box 1: Bold"
    },

    {
      "type": "url",
      "id": "url1w",
      "label": "Women's Box 1: URL"
    },

    {
      "type": "image_picker",
      "id": "img2w",
      "label": "Women's Box 2: Image"
    },

    {
      "type": "text",
      "id": "bold2w",
      "label": "Women's Box 2: Bold"
    },

    {
      "type": "url",
      "id": "url2w",
      "label": "Women's Box 2: URL"
    },

    {
      "type": "image_picker",
      "id": "img3w",
      "label": "Women's Box 3: Image"
    },

    {
      "type": "text",
      "id": "bold3w",
      "label": "Women's Box 3: Bold"
    },

    {
      "type": "url",
      "id": "url3w",
      "label": "Women's Box 3: URL"
    },

    {
      "type": "image_picker",
      "id": "img4w",
      "label": "Women's Box 4: Image"
    },

    {
      "type": "text",
      "id": "bold4w",
      "label": "Women's Box 4: Bold"
    },
    {
      "type": "url",
      "id": "url4w",
      "label": "Women's Box 4: URL"
    }
  ],
  "presets": [
    {
      "name": "Shop by Category",
      "category": "Gender Specific"
    }
  ]
}
{% endschema %}
