<h3>Recommended for You</h3>

<div class="gender-wrapper">
  <div class="loader grid-loader gender-loader" style="z-index:1;"></div>
  <personal-recommendations id="womens-recommendations" class="womens-gender-filter fade-in" data-gender="womens">
    <h4 class="no-gender-filter">WOMENS</h4>

    {% comment %} use JS to render the productcard-carousel here {% endcomment %}

    <noscript>
      <productcard-carousel class="gender-recommendations-carousel product-grid">
        {% for product in section.settings['fallback-1'].products limit: 6 %}
          {% render 'product-card', product: product, class: 'splide__slide' %}
        {% endfor %}
      </productcard-carousel>
    </noscript>
  </personal-recommendations>

  <personal-recommendations id="mens-recommendations" class="mens-gender-filter fade-in" data-gender="mens">
    <h4 class="no-gender-filter">MENS</h4>

    {% comment %} use JS to render the productcard-carousel here {% endcomment %}

    <noscript>
      <productcard-carousel class="gender-recommendations-carousel product-grid">
        {% for product in section.settings['fallback-2'].products limit: 6 %}
          {% render 'product-card', product: product, class: 'splide__slide' %}
        {% endfor %}
      </productcard-carousel>
    </noscript>
  </personal-recommendations>
</div>

{% comment %} continue shopping buttons {% endcomment %}

<div class="gender-wrapper">
  <div class="recommendation-ctas womens-gender-filter fade-in max-width">
    {% if section.settings['best_sellers-1'] -%}
      <a href="{{ section.settings.best_sellers-1.url }}" class="button button-primary">{{- section.settings['best_sellers-1'].title -}}</a>
    {%- endif %}
    {% if section.settings['new-1'] -%}
      <a href="{{ section.settings.new-1.url }}" class="button button-primary">{{ section.settings['new-1'].title }}</a>
    {%- endif %}
  </div>

  <div class="recommendation-ctas mens-gender-filter fade-in max-width">
    {% if section.settings['best_sellers-2'] -%}
      <a href="{{ section.settings.best_sellers-2.url }}" class="button button-primary">
        {{- section.settings['best_sellers-2'].title -}}
      </a>
    {% endif %}
    {% if section.settings['new-2'] %}
      <a href="{{ section.settings.new-2.url }}" class="button button-primary">{{ section.settings['new-2'].title }}</a>
    {%- endif %}
  </div>
</div>

<style>
  .section--gender-recommendation-carousel h3 {
    margin: 4em 0 1em;
  }

  .recommendation-ctas {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .recommendation-ctas a {
    flex: 1 0 max-content;
  }
</style>

{% schema %}
{
  "name": "Recommendation Carousel",
  "class": "section--gender-recommendation-carousel entry-animation",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Womens's Recommendations"
    },
    {
      "type": "collection",
      "id": "fallback-1",
      "label": "Women's Fallback Collection"
    },
    {
      "type": "collection",
      "id": "best_sellers-1",
      "label": "Womens's Best Sellers Collection"
    },
    {
      "type": "collection",
      "id": "new-1",
      "label": "Womens's New Collection"
    },
    {
      "type": "header",
      "content": "Mens's Recommendations"
    },
    {
      "type": "collection",
      "id": "fallback-2",
      "label": "Men's Fallback Collection"
    },
    {
      "type": "collection",
      "id": "best_sellers-2",
      "label": "Mens's Best Sellers Collection"
    },
    {
      "type": "collection",
      "id": "new-2",
      "label": "Mens's New Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Recommendation Carousel",
      "category": "Gender Specific"
    }
  ]
}
{% endschema %}
