{%- capture countdown_settings -%}
{
"end": {{ settings.countdown-date | json }},
"copy": {{ settings.countdown-announcement-text | json }}
}
{%- endcapture -%}

{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <announcement-bar id="announcement_splide">
      <div class="announcement_track splide__track">
        <div class="announcement_list splide__list">
          {% for block in section.blocks %}
            {% unless localization.country.iso_code != 'GB' and block.settings.country_restriction == 'domestic_only' or localization.country.iso_code == 'GB' and block.settings.country_restriction == 'international_only' %}
            <div class="splide__slide">
              <a
                href="{{ block.settings.link1 | escape }}"
                class="announcement_content"
                data-block-id="{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                <b class="announcement_content-title">{{ block.settings.title | escape }} </b>
                {% if block.settings.enable_countdown %}
                  <countdown-timer class="announcement_content-text" data-countdown='{{ countdown_settings | strip_newlines  }}'></countdown-timer>
                {% else %}
                  <span class="announcement_content-text">
                    {{ block.settings.subcontent1 | escape }}
                  </span>
                {% endif %}
              </a>
            </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </announcement-bar>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "class": "announcement",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#1b1b1b"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ],

  "blocks": [
    {
      "type": "announcement_slider",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "ANNOUCEMENT"
        },
        {
          "type": "text",
          "id": "subcontent1",
          "label": "Sub Text",
          "default": "More Info"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "Link"
        },

        {
          "type": "checkbox",
          "id": "enable_countdown",
          "label": "Enable Countdown",
          "default": false,
          "info": "This will override the sub text and display a countdown timer instead"
        },
        {
          "type": "select",
          "id": "country_restriction",
          "label": "Country Restriction",
          "info": "Choose which countries this announcement should display to",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "domestic_only",
              "label": "Domestic Only"
            },
            {
              "value": "international_only",
              "label": "International Only"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
