<link rel="stylesheet" href="{{ 'ometria-form.min.css' | asset_url }}">

<ometria-form class="max-width">
  <div class="rtf">
    <h2 class="emphasis">{{ section.settings.title }}</h2>
    <p class="ctatxt">{{ section.settings.copy }}</p>
  </div>

  <form action="https://api.ometria.com/forms/signup" method="post">
    {% comment %} OMETRIA FIELDS {% endcomment %}
    <input class="ometria-push" type="hidden" name="__form_id" value="{{ section.settings.formId }}">
    <input class="ometria-push" type="hidden" name="email" value="" autocomplete="off">
    <div style="display:none !important">
      <input class="ometria-push" name="__email" type="email" value="" autocomplete="off">
    </div>
    <input class="ometria-push" name="@account" type="hidden" value="f647cb688e2297ba">
    <input class="ometria-push" name="@return_url" type="hidden" value="">
    <input class="ometria-push" name="@subscription_status" type="hidden" value="SUBSCRIBED">
    <input class="ometria-push" name="properties.sign_up_source" type="hidden" value="{{ section.settings.signupSource}}">
    <input class="ometria-push" type="hidden" name="gender" value="" id="newsletter[gender]">
    {% comment %} END OMETRIA FIELDS {% endcomment %}

    <div class="Form__Item">
      <input
        name="ue"
        id="newsletter[email]"
        type="email"
        class="ometria-push Form__Input"
        name="customer[email]"
        required="required"
        placeholder="Email"
        aria-label="{{ 'customer.login.email' | t }}"
        autocorrect="off"
        autocapitalize="off"
      >
      <label for="newsletter[email]">Email</label>
    </div>
      <button type="submit" data-gender="Male" class="gender-submit-button button button-primary" name="commit" id="newsletter[male]">Male</button>
      <button type="submit" data-gender="Female" class="gender-submit-button button button-primary" name="commit" id="newsletter[female]">Female</button>
      <button type="submit" data-gender="Other" class="gender-submit-button button button-primary" name="commit" id="newsleter[other]">Prefer not to answer</button>
  </form>
</ometria-form>

<script>
  window.successTitle = '{{ section.settings.successHeading }}';
  window.successText = '{{ section.settings.successCopy }}';
</script>

{% schema %}
{
  "name": "Ometria Inline Form",
  "class": "section--ometria-inline-form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Subscribe to our newsletter"
    },
    {
        "type": "text",
      "id": "copy",
      "label": "Call to Action",
      "default": "Sign up for early access, exclusive offers and the lastest news."
    },
    {
      "type": "header",
      "content": "Success Messages",
      "info": "These are the words that will be printed on a successful form completion."
    },
    {
      "type": "text",
      "id": "successHeading",
      "label": "Success Heading",
      "default": "Success! Thank you for signing up."
    },
    {
      "type": "richtext",
      "id": "successCopy",
      "label": "Success Text",
      "default": "<p>You are now on the list to receive exclusive early access.</p>"
    },
    {
      "type": "header",
      "content": "Form Settings",
      "info": "These two settings must be completed as they will affect the data passed to ometria"
    },
    {
      "type": "text",
      "id": "formId",
      "label": "Ometria Form ID",
      "default": "ad1254b0165617d1cf8a0d4e4dcfc2e6"
    },
    {
      "type": "text",
      "id": "signupSource",
      "label": "Ometria Sign Up Source Value",
      "default": "Site Form"
    }
  ],
}
{% endschema %}
