<link rel="stylesheet" href="{{ 'pdp.min.css' | asset_url }}">
{% comment %} set images sizes  {% endcomment %}
{% assign is_set = product.metafields.custom.product_set %}
{% if product.price_min == 0 %}
  {% assign oos = true %}
{% else %}
  {% assign oos = false %}
{% endif %}
{% assign widths = '600,750,900,1200,1920,2400,3000' | split: ',' %}

{% comment %} set the shown price - either calculate for 'sets' or use product price {% endcomment %}
{% if product.metafields.custom.product_set %}
  {% assign product_price = 0 %}
  {% assign product_compare_price = 0 %}
  {% for product in product.metafields.custom.product_set.value %}
    {% assign product_price = product_price | plus: product.selected_or_first_available_variant.price %}
    {% assign product_compare_price = product_compare_price | plus: product.selected_or_first_available_variant.compare_at_price %}
  {% endfor %}
{% else %}
  {% assign product_price = product.selected_or_first_available_variant.price %}
  {% assign product_compare_price = product.selected_or_first_available_variant.compare_at_price %}
{% endif %}

{% comment %} do we need to load a countdown component and capture the countdown settings?? {% endcomment %}
{% assign show_timer = false %}
{% if product.tags contains settings['countdown-tag'] and settings['countdown-product-check'] %}
  {% assign show_timer = true %}

  {%- capture countdown_settings -%}
  {
  "end": {{ settings.countdown-date | json }},
  "copy": {{ settings.countdown-announcement-text | json }}
  }
  {%- endcapture -%}
{% endif %}

{% capture product_details %}
  {
    "productId": {{ product.id | json }},
    "productName": {{ product.title | remove: "Gym King" | strip | json }},
    "productGender": {{ product.vendor | json }},
    "productUrl": {{ product.url | json }}
  }
{% endcapture %}

{% comment %} START:: Carousels {% endcomment %}
<div class="pdp-carousels-wrapper">
  {% comment %} START:: thumbnail navigation carousel {% endcomment %}
  <thumbnail-carousel>
    {% for image in product.images limit: 13 %}
      {% unless forloop.index == 2 %}
        <div class="thumbs_slide splide__slide">
          <img
            width="{{ image.width }}"
            height="{{ image.height }}"
            alt="{{ image.alt }} thumbnail"
            fetchpriority="low"
            data-splide-lazy="{{ image | image_url: width: 150 }}"
          >
        </div>
      {% endunless %}
    {% endfor %}
  </thumbnail-carousel>
  {% comment %} END:: thumbnail navigation carousel {% endcomment %}

  {% comment %} START:: main carousel {% endcomment %}
  <div class="pdp-carousel-wrapper">
    <div class="loader"></div>
    <pdp-carousel>
      {% if show_timer or settings['decal-check'] %}
        {{ settings['countdown-decal'] | image_url: width: 950 | image_tag: loading: 'lazy', class: 'splide__decal' }}
      {% else %}
        {% render 'evergreen-decal', product: product, class: 'splide__decal' %}
      {% endif %}

      {% for image in product.images limit: 13 %}
        {% unless forloop.index == 2 %}
          {% assign base_url = image | image_url: width: 1111 | remove: '1111' %}
          {% assign img_widths = '' %}
          {% for width in widths %}
            {% assign img_widths = img_widths | append: base_url | append: width | append: ' ' | append: width | append: 'w, ' %}
          {% endfor %}
          {% assign img_widths = img_widths | remove_last: ',' %}
          <div class="pdp_slide splide__slide">
            <img
              width="{{ image.width }}"
              height="{{ image.height }}"
              alt="{{ image.alt }}"
              data-count="{{ product.images.size | minus: 1 }}"
              {% if forloop.first %}
                data-image-index="1"
                fetchpriority="high"
                loading="eager"
                src="{{ base_url }}3000"
                srcset="{{ img_widths }}"
              {% else %}
                data-image-index="{{ forloop.index0 }}"
                data-splide-lazy-srcset="{{ img_widths }}"
                data-splide-lazy="{{ base_url }}3000"
              {% endif %}
              sizes="(min-width: 1400px) calc(90vw - 550px), (min-width: 768px) 50vw, 100vw'"
            >
          </div>
        {% endunless %}
      {% endfor %}
    </pdp-carousel>
    {% unless product.tags contains 'set' %}
      <div class="round-btn iWish-btn" data-wishlisticon>{% render 'wishlist-app-links', linkType: 'single-product' %}</div>
    {% endunless %}
  </div>
  {% comment %} END:: main carousel {% endcomment %}
</div>
{% comment %} END:: Carousels {% endcomment %}

{% comment %} START:: zoom {% endcomment %}
<div class="pdp-zoom-wrapper">
  <button class="pdp-zoom-prev-btn round-btn" aria-label="show previous image">
    {% render 'icon', icon: 'arrow', class: 'rotate180' %}
  </button>
  <button class="pdp-zoom-close-btn round-btn" aria-label="Close the zoom modal">
    {% render 'icon', icon: 'plus', class: 'rotate45' %}
  </button>
  <button class="pdp-zoom-next-btn round-btn" aria-label="show next image">
    {% render 'icon', icon: 'arrow' %}
  </button>
</div>
{% comment %} END:: zoom {% endcomment %}

{% comment %} START:: Product Details {% endcomment %}
<aside id="product-details" data-details="{{ product_details | escape }}">
  <div id="product-summary">
    {% render 'product-title' with product as 'product', heading: 'h1' %}
    {% render 'product-price' with product as 'product' %}
    {% unless product.type == 'Tracksuit Set' %}
      <div
        class="yotpo-widget-instance"
        data-yotpo-instance-id="1008278"
        data-yotpo-product-id="{{product.id}}"
        data-yotpo-cart-product-id="{{item.product.id}}"
        data-yotpo-section-id="{{template.name}}"
      ></div>
    {% endunless %}
  </div>

  {% render 'bnpl' with product_price as price %}

  <form id="atc_form" method="post" action="{{ routes.cart_add_url }}">
    <enhanced-atc>
      <div class="atc_form-header">
        {% unless product.variants_count == 1 %}
          <p>
            Select
            {%- if product.gift_card? -%}
              &nbsp;value:
            {%- else -%}
              &nbsp;your size:
            {%- endif -%}
          </p>

          {% unless product.gift_card? %}
            <a
              href="/pages/size-guide"
              target="_blank"
              class="drawer-button"
              data-target="sizeDrawer-{{ product.id }}"
              aria-label="Open size guide"
            >
              <span>size guide</span>
              {% render 'icon' with 'ruler' as icon %}
            </a>
          {% endunless %}
        {% endunless %}
      </div>

      {% if is_set %}
        {% for part in is_set.value %}
          {% assign product_number = forloop.index %}
          <div class="part-title">
            <a href="{{ part.url }}">
              <h4 class="h5 part_title">{{ part.title | remove: 'Gym King' }}</h4>
            </a>
            <a
              href="/pages/size-guide"
              target="_blank"
              class="drawer-button"
              data-target="sizeDrawer-{{ part.id }}"
              aria-label="Open size guide"
            >
              <span>size guide</span>
              {% render 'icon' with 'ruler' as icon %}
            </a>
          </div>
          <div
            class="yotpo-widget-instance"
            data-yotpo-instance-id="1008278"
            data-yotpo-product-id="{{part.id}}"
            data-yotpo-section-id="{{template.name}}"
          ></div>
          <ul class="atc_form-sizes">
            {% for variant in part.variants %}
              <li>
                <input
                  type="radio"
                  name="id-{{ product_number }}"
                  value="{{ variant.id }}"
                  id="variant-{{ variant.id }}"
                  data-available-qty="{{ variant.inventory_quantity | minus: settings.product_buffer }}"
                  data-size="{{ variant.title }}"
                  data-id="{{- part.type | handle -}}{{- variant.title -}}"
                  {% if variant.selling_plan_allocations.size > 0 %}
                    data-subscription-id="{{ variant.selling_plan_allocations.first.selling_plan.id }}"
                  {% endif %}
                  {% if variant.available == false or oos == true %}
                    disabled
                  {% endif %}
                  {% if part.variants_count == 1 %}
                    checked
                  {% endif %}
                >
                <label class="button button-inverted button_add-to-cart" for="variant-{{ variant.id }}">
                  {{ variant.title | replace: '.00', '' }}
                  {% unless variant.available %}
                    <div href="#" class="BIS_trigger BIS_overlay" data-variant-id="{{ variant.id }}" data-product-data="{{  part | json | escape }}">{% render 'icon', icon: 'mail' %}</div>
                  {% endunless %}
                </label>
              </li>
            {% endfor %}
          </ul>
          {% if forloop.last == false %}
            <hr>
          {% endif %}
        {% endfor %}

      {% else %}
        <ul class="atc_form-sizes {% if product.variants_count == 1 %}visually-hidden{% endif %}">
          {% for variant in product.variants %}
            <li>
              <input
                type="radio"
                name="id"
                value="{{ variant.id }}"
                id="variant-{{ variant.id }}"
                data-available-qty="{{ variant.inventory_quantity | minus: settings.product_buffer }}"
                data-size="{{ variant.title }}"
                data-id="{{- product.type | handle -}}-{{- variant.title -}}"
                {% if variant.selling_plan_allocations.size > 0 %}
                  data-subscription-id="{{ variant.selling_plan_allocations.first.selling_plan.id }}"
                {% endif %}
                {% if variant.available == false or oos == true %}
                  {%- assign oos = true -%}
                  disabled
                {% endif %}
                {% if product.variants_count == 1 %}
                  checked
                {% endif %}
              >
              <label class="button button-inverted button_add-to-cart" for="variant-{{ variant.id }}">
                {{ variant.title | replace: '.00', '' }}
                {% unless variant.available %}
                  <div href="#" class="BIS_trigger BIS_overlay" data-variant-id="{{ variant.id }}" data-product-data="{{  product | json | escape }}">{% render 'icon', icon: 'mail' %}</div>
                {% endunless %}
              </label>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if product.metafields.custom.alt_sizing and product.metafields.custom.alt_sizing.value.available %}
        {% if product.title contains 'Petite' %}
          {% assign is_petite = true %}
        {% endif %}

        <div class="atc_form-header" style="border-top: none;">Lengths:</div>
        <ul class="atc_form-sizes " style="display: flex;">
          <li>
            <a
              href="{%- if is_petite -%}{{ product.metafields.custom.alt_sizing.value.url }}{% else %}#{%- endif -%}"
              class="button button-inverted button_add-to-cart"
              style="border: 1px solid;{% unless is_petite %}background:var(--c-light-grey);{% endunless %}"
            >
              Regular
            </a>
          </li>
          <li>
            <a
              href="{%- unless is_petite -%}{{ product.metafields.custom.alt_sizing.value.url }}{% else %}#{%- endunless -%}"
              class="button button-inverted button_add-to-cart"
              style="border: 1px solid;{% if is_petite %}background:var(--c-light-grey);{% endif %}"
            >
              Petite
            </a>
          </li>
        </ul>
      {% endif %}

      {% comment %}  Quantity Selector  {% endcomment %}
      <input type="number" id="Quantity" name="quantity" value="1" min="1" hidden>
      {% comment %} Add to Cart button  {% endcomment %}
      <span class="quantity-warning uppercase"></span>
      <div class="atc_form-button-spacer" id="atc--container">
        {% if product.available %}
          <button type="submit" id="atc--btn" class="atc_form-button button button-primary" name="main_add-to-cart">Add to Bag</button>
        {% else %}
          <button id="BIS_trigger" class="button-full button button-primary">get restock notification</button>
        {% endif %}
      </div>
    </enhanced-atc>
    {% if section.settings.show_yotpo_points and product.available %}
      <div
        class="yotpo-widget-instance"
        data-yotpo-instance-id="1268248"
        data-yotpo-product-id="{{product.id}}"
        data-yotpo-variant-id="{{ product.selected_or_first_available_variant.id }}"
        data-yotpo-product-variants="{{ product.variants | json | url_encode }}"
        data-yotpo-product-collections="{{product.collections | json | url_encode}}"
        data-yotpo-product-tags="{{ product.tags | json | url_encode }}"
        data-yotpo-product-type="{{ product.type | json | url_encode }}"
      ></div>
    {% endif %}
  </form>

  {% if show_timer %}
    <div class="error countdown-wrapper accent-bg">
      <countdown-timer data-countdown="{{ countdown_settings | strip_newlines | escape }}"></countdown-timer>
    </div>
  {% endif %}

  <div class="product_details-confidence-blocks">
    <div class="confidence_blocks-block accent-bg">
      <div class="window">{% render 'icon', icon: 'truck', class: 'ani-drive' %}</div>
      {% render 'dispatch-timer' %}
    </div>

    <div class="confidence_blocks-block accent-bg">
      {% render 'icon', icon: 'star', class: 'ani-spin' %}
      <a href="https://uk.trustpilot.com/review/thegymking.com?stars=5" target="_blank">35,000+ 5 star reviews.</a>
    </div>
    {% if localization.country.iso_code == 'GB' %}
      <div class="confidence_blocks-block accent-bg ge-hide-display-none ge-hide">
        {% render 'icon', icon: 'parcel', class: 'ani-bounce' %}
        <freedelivery-info>
          {%- if customer.tags contains 'Active Subscriber' -%}
            <p class="free-delivery_text">Your Unlimited FREE Delivery Subscription is: <span class="success">active</span></p>
          {% else %}
            <p class="free-delivery_text">
              {%- if cart.total_price >= settings['delivery-threshold2-value'] and settings['show-delivery-threshold2'] -%}
                <strong> Enjoy! You've unlocked FREE {{ settings['delivery-threshold2-name'] }}</strong>.

              {% elsif cart.total_price >= settings['delivery-threshold-value'] %}
                <strong>You've unlocked FREE {{ settings['delivery-threshold-name'] }}</strong>.
                {%- if settings['show-delivery-threshold2'] -%}
                  <br>
                  FREE {{ settings['delivery-threshold2-name'] }} over {{ settings['delivery-threshold2-value'] | money_without_trailing_zeros }}.
                {%- endif -%}

              {% else %}
                FREE {{ settings['delivery-threshold-name'] }} over {{ settings['delivery-threshold-value'] | money_without_trailing_zeros }}.
                {%- if settings['show-delivery-threshold2'] -%}
                  <br>
                  FREE {{ settings['delivery-threshold2-name'] }} over {{ settings['delivery-threshold2-value'] | money_without_trailing_zeros }}.
                {%- endif -%}
              {%- endif -%}
            </p>
          {% endif %}
        </freedelivery-info>
      </div>
    {% endif %}
  </div>

  {% render 'pdp_colour-selection' %}
  {% if product.metafields.product.features.value %}
    {% render 'technical-specification' %}
  {% endif %}
</aside>
{% comment %} END:: Product Details {% endcomment %}
{% render 'pdp_description-tabs',
  show_desc: section.settings.show_description,
  show_extended: section.settings['show_extended-returns'],
  extended_title: section.settings['extended-returns-title'],
  extended_text: section.settings['extended-returns-text']
%}

{% if is_set %}
  {% for part in is_set.value %}
    {% render 'drawer-size-guide' with part as product %}
  {% endfor %}
{% else %}
  {% render 'drawer-size-guide' with product as product %}
{% endif %}

{% unless localization.country.iso_code == 'GB' %}
  <style>
    .gbbExtBundleUpsellContainer {
      display: none !important;
      height: 0;
      width: 0;
    }
  </style>
{% endunless %}
{% schema %}
{
  "name": "Main Product Block",
  "class": "section--product_main",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_extended-returns",
      "label": "Show Extended Returns",
      "info": "If disabled, the Extended Returns section will not be displayed."
    },
    { "type": "text", "id": "extended-returns-title", "label": "Extended Returns Title", "visible_if": "{{ section.settings.show_extended-returns == true}}" },
    { "type": "richtext", "id": "extended-returns-text", "label": "Extended Returns Text", "visible_if": "{{ section.settings.show_extended-returns == true}}" },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Description",
      "default": true,
      "info": "If disabled, the description section will not be expanded on load."
    },
    { "type": "checkbox", "id": "show_yotpo_points", "label": "Show Yotpo Points", "default": true, "info": "If disabled, the Yotpo Points info will not be displayed below the add to bag button." }
  ]
}
{% endschema %}
