{% comment %} set images sizes  {% endcomment %}

{% assign is_set = product.metafields.custom.product_set %}
{% assign oos = false %}
{% assign widths = '600,750,900,1200,1920,2400,3000' | split: ',' %}

{% comment %} set the shown price - either calculate for 'sets' or use product price {% endcomment %}
{% if product.metafields.custom.product_set %}
  {% assign product_price = 0 %}
  {% assign product_compare_price = 0 %}
  {% for product in product.metafields.custom.product_set.value %}
    {% assign product_price = product_price | plus: product.selected_or_first_available_variant.price %}
    {% assign product_compare_price = product_compare_price | plus: product.selected_or_first_available_variant.compare_at_price %}
  {% endfor %}
{% else %}
  {% assign product_price = product.selected_or_first_available_variant.price %}
  {% assign product_compare_price = product.selected_or_first_available_variant.compare_at_price %}
{% endif %}

<div class="pdp-carousel-wrapper">
  <pdp-carousel>
    {% for image in product.images %}
      {% unless forloop.index == 2 %}
        {% assign base_url = image | image_url: width: 1111 | remove: '1111' %}
        {% assign img_widths = '' %}
        {% for width in widths %}
          {% assign img_widths = img_widths | append: base_url | append: width | append: ' ' | append: width | append: 'w, ' %}
        {% endfor %}
        {% assign img_widths = img_widths | remove_last: ',' %}

        <div class="pdp_slide splide__slide">
          <img
            width="{{ image.width }}"
            height="{{ image.height }}"
            alt="{{ image.alt }}"
            {% if forloop.first %}
              loading="eager"
              src="{{ base_url }}3000"
              srcset="{{ img_widths }}"
            {% else %}
              data-splide-lazy-srcset="{{ img_widths }}"
              data-splide-lazy="{{ base_url }}3000"
            {% endif %}
            sizes="200vw"
          >
        </div>
      {% endunless %}
    {% endfor %}
  </pdp-carousel>

  {% unless product.tags contains 'set' %}
    <div class="round-btn iWish-btn" data-wishlisticon>{% render 'wishlist-app-links', linkType: 'single-product' %}</div>
  {% endunless %}
</div>

<aside id="product-details" class="max-width">
  <div class="" id="product-summary">
    {% render 'product-title' with product as 'product', heading: 'true' %}
    {% render 'product-price' with product as 'product' %}
    {% unless product.type == 'Tracksuit Set' %}
      <div
        class="yotpo-widget-instance"
        data-yotpo-instance-id="1008278"
        data-yotpo-product-id="{{product.id}}"
        data-yotpo-cart-product-id="{{item.product.id}}"
        data-yotpo-section-id="{{template.name}}"
      ></div>
    {% endunless %}
  </div>

  {% render 'bnpl' with product_price as price %}

  <form id="atc_form" method="post" action="{{ routes.cart_add_url }}">
    <enhanced-atc>
      <div class="atc_form-header">
        <p>select size:</p>
        <a
          href="/pages/size-guide"
          target="_blank"
          class="drawer-button"
          data-target="sizeDrawer"
          aria-label="Open size guide"
        >
          <span>size guide</span>
          {% render 'icon' with 'ruler' as icon %}
        </a>
      </div>

      {% if is_set %}
        {% for part in is_set.value %}
          {% assign product_number = forloop.index %}
          <a href="{{ part.url }}">
            <h4 class="part_title">{{ part.title | remove: 'Gym King' }}</h4>
          </a>
          <div
            class="yotpo-widget-instance"
            data-yotpo-instance-id="1008278"
            data-yotpo-product-id="{{part.id}}"
            data-yotpo-section-id="{{template.name}}"
          ></div>
          <ul class="atc_form-sizes">
            {% for variant in part.variants %}
              <li>
                <input
                  type="radio"
                  name="id-{{ product_number }}"
                  value="{{ variant.id }}"
                  id="variant-{{ variant.id }}"
                  data-available-qty="{{ variant.inventory_quantity }}"
                  data-size="{{ variant.title }}"
                  {% unless variant.available %}
                    disabled
                  {% endunless %}
                >
                <label class="button button-inverted button_add-to-cart" for="variant-{{ variant.id }}">{{ variant.title }}</label>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}

      {% else %}
        <ul class="atc_form-sizes">
          {% for variant in product.variants %}
            <li>
              <input
                type="radio"
                name="id"
                value="{{ variant.id }}"
                id="variant-{{ variant.id }}"
                data-available-qty="{{ variant.inventory_quantity }}"
                data-size="{{ variant.title }}"
                {% unless variant.available %}
                  {%- assign oos = true -%}
                  disabled
                {% endunless %}
              >
              <label class="button button-inverted button_add-to-cart" for="variant-{{ variant.id }}">{{ variant.title }}</label>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% comment %}  Quantity Selector  {% endcomment %}
      <input type="number" id="Quantity" name="quantity" value="1" min="1" hidden>
      {% comment %} Add to Cart button  {% endcomment %}
      <div class="atc_form-button-spacer"><button type="submit" class="atc_form-button button button-primary" name="main_add-to-cart">Add to Bag</button></div>
    </enhanced-atc>
  </form>

  <div class="product_details-sizing accent-bg">
    {% assign description = product.description %}

    {% if description contains 'fit</h4>' %}
      {% assign split_anchor = 'fit</h4>' %}
    {% elsif description contains 'Fit</h4>' %}
      {% assign split_anchor = 'Fit</h4>' %}
    {% endif %}

    {% assign parts = description | split: split_anchor %}
    {% if parts.size > 1 %}
      {% assign after_fit = parts[1] | split: '<h4' %}
      {% assign size_and_fit_content = after_fit[0] %}
      <div>{{ size_and_fit_content }}</div>
    {% endif %}

    {% if oos %}
      <div href="#" class="BIS_trigger button button-secondary" data-product-data="{{  product | json | escape }}">Size out of stock?</div>
    {% endif %}
  </div>

  <div class="product_details-confidence-blocks">
    <div class="confidence_blocks-block accent-bg">
      <div class="window">{% render 'icon', icon: 'truck', class: 'ani-drive' %}</div>
      <dispatch-timer>Order now for delivery in 1 - 2 working days</dispatch-timer>
    </div>
    <div class="confidence_blocks-block accent-bg">
      {% render 'icon', icon: 'star', class: 'ani-spin' %}
      <a href="https://uk.trustpilot.com/review/thegymking.com?stars=5" target="_blank">35,000+ 5 star reviews. {% render 'icon', icon: 'external' %}</a>
    </div>
    <div class="confidence_blocks-block accent-bg">
      {% render 'icon', icon: 'parcel', class: 'ani-bounce' %}
      <div class="free-delivery-status">
        {%- if customer.tags contains 'Active Subscriber' -%}
          <p class="free-delivery_text">Your Unlimited FREE Delivery Subscription is: <span class="success">active</span></p>
        {% else %}
          <p class="free-delivery_text">
            {%- if cart.total_price >= settings['delivery-threshold2-value'] and settings['show-delivery-threshold2'] -%}
             <strong> Enjoy! You've unlocked FREE {{ settings['delivery-threshold2-name'] }}</strong>.

            {% elsif cart.total_price >= settings['delivery-threshold-value'] %}
              <strong>You've unlocked FREE {{ settings['delivery-threshold-name'] }}</strong>.
              {%- if settings['show-delivery-threshold2'] -%}
                <br>
                FREE {{ settings['delivery-threshold2-name'] }} over {{ settings['delivery-threshold2-value']  | money_without_trailing_zeros }}.
              {%- endif -%}

            {% else %}
              FREE {{ settings['delivery-threshold-name'] }} over {{ settings['delivery-threshold-value']  | money_without_trailing_zeros }}.
              {%- if settings['show-delivery-threshold2'] -%}
                <br>
                FREE {{ settings['delivery-threshold2-name'] }} over {{ settings['delivery-threshold2-value']  | money_without_trailing_zeros }}.
              {%- endif -%}
            {%- endif -%}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</aside>

{% render 'drawer-size-guide' with product as product %}

<script type="module" src="{{ 'main-pdp.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'pdp.min.css' | asset_url }}">

{% schema %}
{
  "name": "Main Product Block",
  "class": "section--product_main",
  "limit": 1,
  "settings": []
}
{% endschema %}
