<div
  class="
      {%- unless section.settings.full_width -%} max-width {% endunless %}
    {% if section.settings.full_height %} full-height {%- endif -%}
  "
  {% if section.settings.hide_second %}
    style="grid-template-columns: 1fr; grid-template-rows: 1fr;" !important;
  {% else %}
    style="gap: {{ section.settings.gap }}px;"
  {% endif %}
  id="split-banner"
>
  {% assign aspect_ratio = '1' %}
  {% if section.settings.image_style != 'square' %}
    {% assign aspect_ratio = section.settings.img1.aspect_ratio %}
  {% endif %}

  {% if section.settings.flex_wrap %}
    {% assign wrap = 'wrap' %}
  {% endif %}

  <div class="img-overlay {{ wrap }}" style="aspect-ratio:{{ aspect_ratio }}">
    {% if section.settings.img1 != blank %}
    {{ section.settings.img1 | image_url: width: 1, height: 1 | image_tag: width: 1, alt: 'background color' }}
    {{ section.settings.img1 | image_url: width: '1240px' | image_tag: loading: 'lazy', sizes: '50vw', widths: '190, 390, 540, 780, 960, 1280, 1920' }}
    {% else %}
      <img src="https://placehold.co/800x400?text=IMAGE+1&font=oswald" alt="" height="400" width="800">
  {% endif %}
    {% if section.settings.url1 -%}
      <a href="{{ section.settings.url1 }}">{{ section.settings.title_mens }}</a>
    {%- endif %}
  </div>

  {% unless section.settings.hide_second %}
    <div class="img-overlay {{ wrap }}" style="aspect-ratio:{{ aspect_ratio }}">
      {% if section.settings.img2 != blank %}
      {{ section.settings.img2 | image_url: width: 1, height: 1 | image_tag: width: 1, alt: 'background color' }}
      {{ section.settings.img2 | image_url: width: '1240px' | image_tag: loading: 'lazy', sizes: '50vw', widths: '190, 390, 540, 780, 960, 1280, 1920' }}
      {% else %}
        <img src="https://placehold.co/800x400?text=IMAGE+2&font=oswald" alt="" height="400" width="800">
      {% endif %}
      {% if section.settings.url2 -%}
        <a href="{{ section.settings.url2 }}">{{ section.settings.title_womens }}</a>
      {%- endif %}
    </div>
  {% endunless %}
</div>

{% style %}
  #split-banner {
    text-shadow: 0 0 20px rgba(27, 27, 27, 0.2);
    display: flex;
    flex-wrap: wrap;
  }
  #split-banner .img-overlay {
    flex: 1;
    border-radius: var(--radius);
  }

  #split-banner a {
    display: grid;
  }

  #split-banner.full-height .img-overlay {
    height: auto;
    max-height: none;
  }

  @media screen and (width < 600px) {
    #split-banner .img-overlay.wrap {
      flex: 1 1 100%;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Split Banner",
  "class": "section-split-banner",
  "settings": [
    {
      "type": "header",
      "content": "Block One"
    },

    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_mens",
      "default": "Mens",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "url1",
      "label": "URL"
    },

    {
      "type": "header",
      "content": "Block Two"
    },

    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_womens",
      "default": "Womens",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "url2",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Global Block Settings"
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "Image Style",
      "options": [
        { "label": "Natural", "value": "" },
        { "label": "Square", "value": "square" }
      ]
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Gap between images",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "hide_second",
      "label": "One Block Only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width?",
      "info": "use the full screen width or limit to 1270px wide",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "flex_wrap",
      "label": "Wrap Images?",
      "info": "Allow images to wrap to new row if screen to narrow",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Split Banner",
      "category": "Navigation"
    },
    {
      "name": "Image Container",
      "category": "Content",
      "settings": {
        "title_mens": "",
        "url1": "",
        "title_womens": "",
        "url2": "",
        "gap": 10,
        "hide_second": false,
        "full_width": false
      }
    }
  ]
}
{% endschema %}
