{{ 'splash-page.min.css' | asset_url | stylesheet_tag }}

{% if section.settings.eventVideo %}
  {{ section.settings.eventVideo | video_tag: image_size: '1100x', preload: true, playsinline: true, autoplay: true, mute: true, loop: true, class: 'launchvideo' }}
{% elsif section.settings.eventLogo %}
  {{ section.settings.eventLogo | image_url: width: 1024 | image_tag: class: 'launchimg' }}
{% endif %}

<div class="column2">
  <ometria-form>
    <div class="rtf">
      <h1>{{ section.settings.pageTitle }}</h1>
      <h2 class="h4">{{ section.settings.pageSubtitle }}</h2>
      {% if section.settings.CTAtxt %}
        <p class="ctatxt">{{ section.settings.CTAtxt }}</p>
      {% endif %}
    </div>

    <form action="https://api.ometria.com/forms/signup" method="post">
      {% comment %} OMETRIA FIELDS {% endcomment %}
      <input class="ometria-push" type="hidden" name="__form_id" value="{{ section.settings.formId }}">
      <input class="ometria-push" type="hidden" name="email" value="" autocomplete="off">
      <div style="display:none !important">
        <input class="ometria-push" name="__email" type="email" value="" autocomplete="off">
      </div>
      <input class="ometria-push" name="@account" type="hidden" value="f647cb688e2297ba">
      <input class="ometria-push" name="@return_url" type="hidden" value="">
      <input class="ometria-push" name="@subscription_status" type="hidden" value="SUBSCRIBED">
      <input class="ometria-push" name="properties.sign_up_source" type="hidden" value="{{ section.settings.signupSource}}">
      <input class="ometria-push" type="hidden" name="gender" value="" id="newsletter[gender]">
      <input class="ometria-push" name="phone_number" id="newsletter[hiddenphone]" type="hidden" value="">
      {% comment %} END OMETRIA FIELDS {% endcomment %}

      <div class="Form__Item">
        <input
          name="ue"
          id="newsletter[email]"
          type="email"
          class="ometria-push Form__Input"
          name="customer[email]"
          required="required"
          placeholder="Email"
          aria-label="{{ 'customer.login.email' | t }}"
          autocorrect="off"
          autocapitalize="off"
          autofocus
        >
        <label for="newsletter[email]">Email</label>
      </div>
      <div id="extra-fields">
        <div class="Form__Item">
          <input
            id="newsletter[firstname]"
            class="ometria-push Form__Input"
            value="{% if customer %}{{ customer.first_name }}{% endif %}"
            placeholder="First Name"
            name="firstname"
            type="text"
            autofocus
          >
          <label for="newsletter[firstname]">First Name</label>
        </div>
        <div class="Form__Item telcode ge-hide-display-none ge-hide">
          <input
            class="Form__Input"
            placeholder="Phone Number"
            name="visible_phone_number"
            id="newsletter[phone]"
            type="tel"
            value=""
            minlength="10"
            maxlength="11"
          >
          <label for="newsletter[phone]">Phone Number</label>
        </div>
        <div class="sms-optin  ge-hide-display-none ge-hide">
          <input class="ometria-push" id="newsletter[sms]" name="@sms_optin_checkbox" type="checkbox">
          {% comment %} <input id="newsletter[sms]" name="sms_optin" type="checkbox"> {% endcomment %}
          <label for="newsletter[sms]">Sign up to SMS to be the first to hear about new launches and exclusive discounts</label>
        </div>

        <p class="newsletter-error warning visually-hidden">Error: Please check details and try again</p>

        <div class="input-group-btn">
          <button type="submit" data-gender="Male" class="gender-submit-button button button-primary" name="commit" id="newsletter[male]">Male</button>
          <button type="submit" data-gender="Female" class="gender-submit-button button button-primary" name="commit" id="newsletter[female]">Female</button>
          <button type="submit" data-gender="Other" class="gender-submit-button button button-primary" name="commit" id="newsleter[other]">Prefer not to answer</button>
        </div>
      </div>
    </form>
  </ometria-form>

  <div class="continueShopping fade-in input-group-btn">
    {% if section.settings.linkCollection != '' %}
      <a href="{{ section.settings.linkCollection.url }}" class="button button-primary">
        {{ section.settings.linkCollectionCTA }}
      </a>
      <br>
    {% endif %}
    <a href="{{ routes.collections_url }}/mens" class="button button-primary">Shop All Mens</a>
    <a href="{{ routes.collections_url }}/womens" class="button button-primary">Shop All Womens</a>
    <a href="{{ routes.root_url }}" class="button button-secondary">Homepage</a>
  </div>

  <script>
    window.successTitle = '{{ section.settings.successHeading }}';
    window.successText = '{{ section.settings.successCopy }}';
  </script>
</div>

 <small>By submitting your email address, you agree to receive marketing emails from Gym King. We may use information collected about you on our site to suggest other products and offers based on your profile and in accordance with our <a href="/pages/privacy">Privacy Policy</a>. You can unsubscribe at any time. View our <a href="/pages/terms-and-conditions">Terms & Conditions</a> for more information on the processing of your data and your privacy rights.</small>


{% schema %}
{
  "name": "Splash Page",
  "tag": "section",
  "class": "section--splash-page",
  "settings": [
    {
      "type": "text",
      "id": "pageTitle",
      "label": "Page Title",
      "default": "Coming Soon"
    },
    {
      "type": "checkbox",
      "id": "showTitle",
      "label": "Show title on mobile"
    },
    {
      "type": "video",
      "id": "eventVideo",
      "label": "Video for the Event"
    },
    {
      "type": "image_picker",
      "id": "eventLogo",
      "label": "Logo or image for the Event",
      "info": "Optional used when a video isn't supplied"
    },
    {
      "type": "text",
      "id": "pageSubtitle",
      "label": "Page subtitle",
      "default": "Sign up now for Early Access"
    },
    {
      "type": "text",
      "id": "CTAtxt",
      "label": "CTA"
    },
    {
      "type": "header",
      "content": "Success Messages",
      "info": "These are the words that will be printed on a successful form completion."
    },
    {
      "type": "text",
      "id": "successHeading",
      "label": "Success Heading",
      "default": "Success! Thank you for signing up."
    },
    {
      "type": "richtext",
      "id": "successCopy",
      "label": "Success Text",
      "default": "<p>You are now on the list to receive exclusive early access.</p>"
    },
    {
      "type": "text",
      "id": "linkCollectionCTA",
      "label": "Button Collection Button Text",
      "default": "Shop Sale Now"
    },
    {
      "type": "collection",
      "id": "linkCollection",
      "label": "Sale Button Collection"
    },
    {
      "type": "header",
      "content": "Form Settings",
      "info": "These two settings must be completed as they will affect the data passed to ometria"
    },
    {
      "type": "text",
      "id": "formId",
      "label": "Ometria Form ID",
      "default": "ad1254b0165617d1cf8a0d4e4dcfc2e6"
    },
    {
      "type": "text",
      "id": "signupSource",
      "label": "Ometria Sign Up Source Value",
      "default": "Splash Page"
    }
  ]
}
{% endschema %}
