<link rel="stylesheet" href="{{ 'static-hero.min.css' | asset_url }}">

<div class="static-hero align-{{- section.settings.text_align }}{% if section.settings.isFullheight %}hero_slide{% endif %}">
  {%  assign media_brightness = "--brightness:" | append: section.settings.img_overlay | append: "%" %}
  {% if section.settings.image == blank and section.settings.video == blank %}
    <img src="https://placehold.co/1270x627?text=IMAGE&font=oswald" alt="" height="627" width="1270" class="static-hero--image" style="{{ media_brightness }}">
  {% elsif section.settings.video != blank %}
    {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'static-hero--image', style: media_brightness }}
  {% elsif section.settings.image != blank %}
    {{ section.settings.image | image_url: width: 2500 | image_tag: class: 'static-hero--image', style:   media_brightness }}
  {% endif %}
  <div class="static-hero--heading">
    <h1 class="h1">{{ section.settings.title }}</h1>
    <h2>{{ section.settings.heading }}</h2>
    {% comment %} {% render 'socials' %} {% endcomment %}
  </div>
  {% if section.settings.text != blank or section.settings.link_url != blank %}
    <div class="static-hero--content rtf text-align--{{- section.settings.text_align }}">
      {{ section.settings.text }}
      {% if section.settings.link_url %}
        <a href="{{ section.settings.link_url }}" class="button button-primary inline-flex">
          {{- section.settings.cta_text | default: 'Learn more' }}
          {% render 'icon', icon: 'arrow' -%}
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Static Hero",
  "class": "section--static-hero",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "isFullheight",
      "label": "Full height hero?",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Will autoplay on muted in a loop and therefore intended use is moving image background video, not interviews, talking heads etc."
    },
    { "type": "range", "id": "img_overlay", "label": "Media Brightness", "min": 0, "max": 120, "step": 5, "default": 100, "unit": "%", "info": "0% = black, 100% = original image" },
    { "type": "text", "id": "title", "label": "Title", "default": "Gym King" },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Brand Hub"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text Content",
      "default": "<p>We believe that if you have something to prove and the mindset to prove it, anything is possible. We hope you enjoy your experience in the brand hub. Find out latest news, events, interviews from our ambassadors and motivational content in our training hub.</p>"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "CTA Link URL"
    },

    {
      "type": "select",
      "id": "text_align",
      "label": "Content Alignment",
      "default": "end",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Hero Elements",
      "name": "Static Hero",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
